@import url("../clean.css");

body {
    background: white;
}

::-webkit-scrollbar {
    width: 0px;
}

.lmw_top {
    height: 1.24rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lmw_top .lmw_henxian {
    width: 1.54rem;
    height: 0.01rem;
    background-color: #bfbfbf;
    border-radius: 0.005rem;
    margin-left: 0.2rem;
    margin-right: 0.24rem;
    margin-bottom: 0.2rem;
}

.lmw_top img {
    width: 0.46rem;
    height: 0.46rem;
    margin-bottom: 0.05rem;
}

.lmw_top .lmw_stars1 {
    width: 0.56rem;
    height: 0.66rem;
    text-align: center;
}

.lmw_top .lmw_stars2 {
    width: 0.66rem;
    height: 0.66rem;
    text-align: center;
}

.lmw_top .lmw_stars3 {
    width: 0.66rem;
    height: 0.66rem;
    text-align: center;
}

.lmw_shopcar {
    background-color: white;
    border-radius: 0.06rem;
    box-sizing: border-box;
    /* min-height: 4rem; */
}

.lmw_shopcar .lmw_carnr {
    width: 10.64rem;
    margin: 0 auto;
    padding-bottom: 1px;

}

.lmw_shopcar .lmw_carnr .lmw_qx {
    height: 0.46rem;
    background-color: #f9f9f9;
    line-height: 0.46rem;
    box-sizing: border-box;
    padding-left: 0.4rem;
    color: #666;
}

/* .lmw_label::before{
	display: inline-block;
	content: "";
	width: 0.1rem;
	height: 0.1rem;
	border: solid 0.01rem #666666;
	vertical-align: middle;
	margin-right: 0.04rem;
	position: relative;
	bottom: 0.01rem;
}

.lmw_input:checked+.lmw_label::before{
	background-color: red;
} */
.lmw_input {
    width: 0.15rem;
    height: 0.15rem;
    vertical-align: middle;
    border-radius: none;
    position: relative;
    bottom: 0.01rem;
}

.lmw_shopcar .lmw_carnr .lmw_qx ul li {
    float: left;
}

.lmw_li1 {
    margin-right: 1.88rem;
}

.lmw_li2 {
    margin-right: 3.2rem;
}

.lmw_li3 {
    margin-right: 2.2rem;
}

.lmw_shopcar .lmw_carnr .lmw_buybooks {
    margin-top: 0.11rem;
    box-sizing: border-box;
    margin-bottom: 0.3rem;
    min-height: 4.6rem;
    position: relative;
}



.lmw_bh {
    margin-right: 5.5rem;
}

.lmw_time {
    margin-right: 0.3rem;
}

.lmw_kfimg {
    width: 0.22rem;
    height: 0.22rem;
    margin-right: 0.05rem;
}

.lmw_buybooks .lmw_kc {
    width: 10.64rem;
    margin-bottom: 0.8rem;
}

.lmw_buybooks .lmw_kc .lmw_boder {
    height: 1.7rem;
    border: solid 0.01rem #f5f5f5;
}

.lmw_buybooks .lmw_kc .lmw_boder:last-child {
    /* paddding-bottom: 0.5rem; */
}

.lmw_kc .lmw_shop {
    height: 1.7rem;
    width: 5.32rem;
    box-sizing: border-box;
    padding-left: 0.3rem;
    padding-top: 0.19rem;
    padding-bottom: 0.2rem;

    border-right: solid 0.01rem #f5f5f5;
    display: flex;
    align-items: center;
}

.lmw_kc .lmw_shop .lmw_shopimg {
    display: inline-block;
    vertical-align: middle;
}


.lmw_kc .lmw_shop .lmw_shopimg .lmw_bookimgs {
    width: 1.4rem;
    height: 1.32rem;
    margin-left: 0.15rem;
    margin-right: 0.2rem;
}

.lmw_bookimgs {
    width: 1.4rem;
    height: 1.32rem;
    margin-left: 0.15rem;
    margin-right: 0.2rem;
}

.lmw_kc .lmw_shop .lmw_shopimg .lmw_shopcerten {
    width: 2.88rem;
    margin-top: 0.07rem;
    font-size: 0.16rem;
    color: #333;
}

.lmw_kc .lmw_shop .lmw_shopimg .lmw_shopcerten .lmw_teachername {
    color: #666;
    margin-top: 0.53rem;
}

.lmw_kc .lmw_boder .lmw_money {
    width: 2.78rem;
    height: 1.7rem;
    border-right: solid 0.01rem #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lmw_kc .lmw_boder .lmw_money .lmw_moneystyle {
    font-family: Arial-BoldMT;
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.24rem;
    letter-spacing: 0rem;
    color: #ff403a;
}

.lmw_kc .lmw_boder .lmw_paystatus {
    width: 2rem;
    height: 1.7rem;
    border-right: solid 0.01rem #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tlk_moneys {
    font-family: Arial-BoldMT;
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.24rem;
    letter-spacing: 0rem;
    color: #ff403a;
}

.lmw_kc .lmw_boder .lmw_paystatus .lmw_statusstyle {
    font-size: 0.16rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.24rem;
    letter-spacing: 0rem;
    color: #ff403a;
}

.lmw_kc .lmw_boder .lmw_caozuo {
    width: 2.49rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.lmw_kc .lmw_boder .lmw_caozuo button {
    background: none;
    border: none;
    outline: none;
    border-radius: 0.18rem;
    width: 0.92rem;
    height: 0.36rem;
    cursor: pointer;
    text-align: center;
}

.lmw_kc .lmw_boder .lmw_caozuo .lmw_qjs {
    margin-bottom: 0.1rem;
    text-align: center;
}

.lmw_buybooks .lmw_qjst {
    position: absolute;
    left: 0;
    bottom: -0.6rem;
    width: 10.65rem;
    height: 0.5rem;
    padding-left: 0.3rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.lmw_buybooks .lmw_qjst .lmw_qxbtn {
    /* width: 0.15rem;
	height: 0.15rem; */
    margin-right: 0.08rem;
}

.lmw_buybooks .lmw_qjst .lmw_delet {
    color: #666;
    margin-left: 0.4rem;
    margin-right: 3rem;
    cursor: pointer;
}

.lmw_buybooks .lmw_qjst .lmw_zj {
    margin-left: 0.3rem;
}

.lmw_buybooks .lmw_qjst .lmw_allmoney {
    margin-left: 0.15rem;
}
.lmw_buybooks .lmw_qjst .lmw_go:hover{
    background-image: linear-gradient(0deg,
    #fd504a 0%,
    #fd8064 100%);
}
.lmw_buybooks .lmw_qjst .lmw_go {
    
    cursor: pointer;
    display: inline-block;
    width: 1.32rem;
    height: 0.5rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border: none;
    outline: none;
    color: white;
    font-size: 0.18rem;
    margin-left: auto;
    text-align: center;
    line-height: 0.5rem;
}
.lmw_buybooks .lmw_qjst .lmw_go1 {
    cursor: pointer;
    display: inline-block;
    width: 1.32rem;
    height: 0.5rem;
    background-image: linear-gradient(0deg,
            #d4d4d4 0%,
            #d8d8d8 100%);
    border: none;
    outline: none;
    color: white;
    font-size: 0.18rem;
    margin-left: auto;
    text-align: center;
    line-height: 0.5rem;
}
.lmw_shownum {
    font-size: 0.18rem;
}

.lmw_showprice {
    font-weight: bold;
    font-size: 0.2rem;
}

/* .gyh_hongbao:hover {
    color: #ff403a;
} */

.gyh_hongbao {
    cursor: pointer;
    margin-right: 1rem;
    color: #161616;
    animation: hover1 4s infinite linear;
    /* line-height: 0.5rem; */
    /* height: 0.5rem; */
    /* position: relative; */
}


.SJ {
    display: none;
    position: absolute;
    top: -0.2rem;
    left: 48%;
    width: 0;
    height: 0;
    transform: translate(-50%, 0);
    border: 0.1rem solid #ff403a;
    border-style: dotted dotted solid dotted;
    border-color: transparent transparent #ff403a transparent;
}

.gotokechen:hover {
    background-image: linear-gradient(0deg,
            #ff5b56 0%,
            #ffac99 100%);
    color: rgb(226, 226, 226);
}

.gotokechen {
    transition: 1s;
    width: 1rem;
    height: 0.28rem;
    line-height: 0.28rem;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.2rem;
    font-size: 0.16rem;
    cursor: pointer;
    margin-top: -1.4rem;
}

.gyh_hongbao_span {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 0.5rem;
    height: 0.5rem;
    /* position: relative; */

}

.walletbox {
    /* display: none; */
    position: absolute;
    bottom: 0.6rem;
    z-index: 33;
    left: 1rem;
    width: 7.4rem;
    min-height: 4.6rem;
    background-color: rgb(255, 255, 255);
    padding: 0.1rem;
    border-radius: 0.1rem;
    box-shadow: 0.01rem 0.01rem 0.1rem rgb(190, 190, 190);
}

.wallet_hongbao_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.wallet_hongbao {
    color: black;
}

.wallet_hongbao_num {
    color: #3ac7ff;
    font-weight: 600;
}

.wallet_hongbao_check {
    margin-left: 0.1rem;
    margin-top: -0.1rem;
}

.wallet_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    /* border-bottom: 0.01rem solid rgb(158, 157, 157); */
}

.wallet_close:hover {
    transform: rotate(180deg);
}

.wallet_close {
    font-size: 0.3rem;
    transition: 1s;
    cursor: pointer;
    font-weight: 300;
    line-height: 0.2rem;
}

.wallet_conn_box {
    width: 100%;
    height: 3rem;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
}


.wallet_submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;

}

.wallet_cancel:hover {
    border: 0.01rem solid #4fccfd;
    color: #4fccfd;
    background-color: rgb(241, 241, 241);
    box-shadow: 0.01rem 0.01rem 0.1rem rgb(190, 190, 190);


}

.wallet_cancel {
    transition: 0.6s;
    border: 0.01rem solid #3ac7ff;
    color: #3ac7ff;
    width: 0.7rem;
    height: 0.4rem;
    border-radius: 0.06rem;
    line-height: 0.4rem;
    text-align: center;
    box-sizing: border-box;
    margin-right: 0.2rem;

}

.wallet_confirm:hover {
    background-color: #52aeff;
    color: rgb(223, 221, 221);
    box-shadow: 0.01rem 0.01rem 0.1rem rgb(190, 190, 190);


}

.wallet_confirm {
    transition: 0.6s;
    background-color: #1090ff;
    color: white;
    width: 0.7rem;
    height: 0.4rem;
    border-radius: 0.06rem;
    line-height: 0.4rem;
    text-align: center;
    margin-right: 0.2rem;
}

.tlk_hongbao_box {
    padding: 0.2rem 0;
    border-bottom: 0.01rem solid;
}

.tlk_honhbao_ul {
    margin-top: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    /* justify-content: center; */
    height: 3rem;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tlk_honhbao_ul .coupon_info .coupon_unit {
    box-sizing: border-box;
}

/* 
.tlk_honhbao_ul .coupon_info .coupon_unit:hover {
    box-shadow: -0.02rem -0.02rem 0.09rem #c3c3c3,
        0.02rem 0.02rem 0.09rem #c3c3c3;
} */

.tlk_honhbao_ul .coupon_info .coupon_unit {
    transition: 0.5s;
    width: 3.47rem;
    height: 0.96rem;
    background-color: #ffffff;
    box-shadow: 0rem 0rem 0.2rem 0rem rgba(0, 0, 0, 0.06);
    border-radius: 0.1rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: 0.2rem 0rem 0rem 0.2rem;
    position: relative;
}

.tlk_honhbao_ul .coupon_info .coupon_unit .fail_tips {
    position: absolute;
    bottom: 0;
    right: 0.08rem;
    width: 0.85rem;
    height: 0.67rem;

}

.tlk_honhbao_ul .coupon_info .coupon_unit .fail_tips img {
    width: 100%;
    height: 100%;
}

.tlk_honhbao_ul .coupon_info .coupon_unit .unit_left {
    width: 1.11rem;
    background: url(../../img/wallet/coupon.png);
    background-size: 100% 100%;
    color: #ffffff;

}

.tlk_honhbao_ul .coupon_info .coupon_unit .unit_left .unit_num {
    margin-top: 0.16rem;
    font-size: 0.15rem;
    text-align: center;
}

.tlk_honhbao_ul .coupon_info .coupon_unit .unit_left .unit_num .num {
    font-size: 0.34rem;
}

.tlk_honhbao_ul .coupon_info .coupon_unit .unit_left .unit_type {
    font-size: 0.14rem;
    text-align: center;
}

.tlk_honhbao_ul .coupon_info .coupon_unit .unit_right {
    flex: 1;
    padding-left: 0.12rem;
    text-align: left;
}

.tlk_honhbao_ul .coupon_info .coupon_unit .unit_right .title {
    font-size: 0.14rem;
    color: #333333;
    margin-top: 0.12rem;
}

.tlk_honhbao_ul .coupon_info .coupon_unit .unit_right .time {
    font-size: 0.12rem;
    color: #999999;
    margin-top: 0.10rem;
}

.tlk_honhbao_ul .coupon_info .coupon_unit .unit_right .block {
    background-color: #e4e4e4;
    width: 100%;
    height: 0.01rem;
    margin-top: 0.08rem;

}

.tlk_honhbao_ul .coupon_info .coupon_unit .unit_right .range_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.12rem;
    color: #999999;
    margin-top: 0.08rem;
}

.tlk_honhbao_ul .coupon_info .coupon_unit .unit_right .range_box .timeover_tips {
    width: 0.6rem;
    height: 0.16rem;
    background: url(../../img/wallet/overdue.png);
    background-size: 100% 100%;
    font-size: 0.1rem;
    text-indent: 0.06rem;
    color: #ffffff;
    text-align: center;
    margin-left: 0.06rem;
}

.tlk_details {
    display: flex;
    align-items: center;
}

.lmw_del {
    background: none;
    border: none;
    outline: none;
    border-radius: 0.18rem;
    width: 0.92rem;
    height: 0.36rem;
    cursor: pointer;
    text-align: center;
}
.lmw_bgcolor2:hover{
    background-color: rgb(238, 238, 238) !important;
    color: rgb(0, 0, 0) !important;  
}
.lmw_bgcolor2 {
    border: solid 0.01rem #999999 !important;
    background-color: white !important;
    color: #666 !important;

}




.click_active {
    border: 0.01rem dashed #1090ff;
}