.lmw_top {
    height: 1.24rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lmw_top .lmw_henxian {
    width: 1.54rem;
    height: 0.01rem;
    background-color: #bfbfbf;
    border-radius: 0.005rem;
    margin-left: 0.2rem;
    margin-right: 0.24rem;
    margin-bottom: 0.2rem;
}

.lmw_top img {
    width: 0.46rem;
    height: 0.46rem;
    margin-bottom: 0.05rem;
}

.lmw_top .lmw_stars1 {
    width: 0.46rem;
    height: 0.66rem;
    text-align: center;
}

.lmw_top .lmw_stars2 {
    width: 0.56rem;
    height: 0.66rem;
    text-align: center;
}

.lmw_top .lmw_stars3 {
    width: 0.56rem;
    height: 0.66rem;
    text-align: center;
}

#lmw_qrddbg {
    height: 0.1rem;
    background-color: #f5f5f5 !important;
}

.lmw_miaoshu {
    width: 10.64rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.46rem;
    background-color: #f5f5f5;
}

.lmw_miaoshu span:first-child {
    margin-right: 5.73rem;
}

.lmw_ddbh {
    width: 10.64rem;
    height: 0.46rem;
    margin: 0 auto;
    margin-top: 0.1rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.38rem;
    padding-right: 0.38rem;
    box-sizing: border-box;
}

.lmw_ddbh .lmw_ddbhsp1 {
    margin-right: auto;
}

.lmw_buybooks .lmw_kc {
    width: 10.64rem;
    margin: 0 auto;
    /* margin-bottom: 1.91rem; */
}

.lmw_buybooks .lmw_kc .lmw_boder {
    height: 1.7rem;
    border: solid 0.01rem #f5f5f5;
    position: relative;
}

.lmw_kc .lmw_shop {
    height: 1.7rem;
    width: 6.43rem;
    box-sizing: border-box;
    padding-left: 0.3rem;
    padding-top: 0.19rem;
    padding-bottom: 0.2rem;

    border-right: solid 0.01rem #f5f5f5;
    display: flex;
    align-items: center;
}

.lmw_kc .lmw_shop .lmw_shopimg {
    display: inline-block;
    vertical-align: middle;
}


.lmw_kc .lmw_shop .lmw_shopimg .lmw_bookimgs {
    width: 1.4rem;
    height: 1.32rem;
    margin-left: 0.15rem;
    margin-right: 0.2rem;
}

.lmw_kc .lmw_shop .lmw_shopimg .lmw_shopcerten {
    width: 2.88rem;
    margin-top: 0.07rem;
    font-size: 0.16rem;
    color: #333;
}

.lmw_kc .lmw_shop .lmw_shopimg .lmw_shopcerten .lmw_teachername {
    color: #666;
    margin-top: 0.53rem;
}

.lmw_kc .lmw_boder .lmw_money {
    height: 1.7rem;
    width: 4.18rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lmw_kc .lmw_boder .lmw_money .lmw_moneystyle {
    font-family: Arial-BoldMT;
    font-size: 0.2rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.24rem;
    letter-spacing: 0rem;
    color: #ff403a;
}

.lmw_kc .lmw_boder .lmw_paystatus {
    width: 2rem;
    height: 1.7rem;
    border-right: solid 0.01rem #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lmw_kc .lmw_boder .lmw_paystatus .lmw_statusstyle {
    font-size: 0.16rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.24rem;
    letter-spacing: 0rem;
    color: #ff403a;
}

.lmw_kc .lmw_boder .lmw_caozuo {
    width: 2.49rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.lmw_kc .lmw_boder .lmw_caozuo button {
    background: none;
    border: none;
    outline: none;
    border-radius: 0.18rem;
    width: 0.92rem;
    height: 0.36rem;
    cursor: pointer;
    text-align: center;
}

.lmw_kc .lmw_boder .lmw_caozuo .lmw_qjs {
    margin-bottom: 0.1rem;
    text-align: center;
}

.lmw_buybooks .lmw_qjst {
    margin: 0 auto;
    width: 10.65rem;
    height: 0.5rem;
    padding-left: 0.3rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.lmw_buybooks .lmw_qjst .gyh_zf_box {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lmw_buybooks .lmw_qjst .gyh_zf_box .gyh_zf {
    margin: 0 0.1rem;
}

.lmw_buybooks .lmw_qjst .gyh_zf_box .gyh_zf .lmw_ftcolor6 {
    /* margin-top: -0.05rem !important; */
    padding-top: 2rem;
}

.lmw_buybooks .lmw_qjst .gyh_zf_box .gyh_zf .lmw_qxbtn:hover {
    cursor: pointer;
}

.lmw_buybooks .lmw_qjst .gyh_zf_box .gyh_zf .lmw_qxbtn {
    width: 0.15rem;
    height: 0.15rem;
    margin-right: 0.08rem;
}

.lmw_buybooks .lmw_qjst .gyh_zf_box .gyh_zf .lmw_qxbtn2:hover {
    cursor: pointer;
}

.lmw_buybooks .lmw_qjst .gyh_zf_box .gyh_zf .lmw_qxbtn2 {
    width: 0.15rem;
    height: 0.15rem;
    margin-left: 0.59rem;
    margin-right: 0.08rem;
}

.lmw_buybooks .lmw_qjst .lmw_delet {
    color: #666;
    margin-right: 4.5rem;
}

.lmw_buybooks .lmw_qjst .lmw_zj {
    margin-left: 0.3rem;
}

.lmw_buybooks .lmw_qjst .lmw_allmoney {
    margin-left: 0.18rem;
}

.lmw_buybooks .lmw_qjst .lmw_go:hover {
    background-image: linear-gradient(0deg,
            #ff6c67 0%,
            #ff8b70 100%);
}

.lmw_buybooks .lmw_qjst .lmw_go {
    cursor: pointer;

    display: inline-block;
    width: 1.32rem;
    height: 0.5rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border: none;
    outline: none;
    color: white;
    font-size: 0.18rem;
    margin-left: auto;
    text-align: center;
    line-height: 0.5rem;
}

.lmw_showprice {
    font-size: 0.2rem;
}

.lmw_shownum {
    font-size: 0.18rem;
}


.dialog-footer .el-button--primary {
    border-color: white;
    background-image: linear-gradient(0deg, #ff403a 0%, #ff6949 100%);
}

.dialog-footer .el-button--primary:hover {
    border-color: white;
    background-image: linear-gradient(0deg, #ff403a 0%, #ff6949 100%);
}

.tlk_font_jiao {
    font-size: 0.16rem;
    text-align: center;
}