 section {
     background-color: #f5f5f5 !important;
 }

 .wallet_nav {
     /* width: 11.24rem; */
     border-radius: 0.06rem;
     /* height: 0.6rem; */
     display: flex;
     flex-direction: row;
     align-items: center;
     background-color: #fff;
 }

 .wallet_nav div {
     padding: 0.18rem 0rem 0.18rem 0rem;

     margin: 0rem 0.21rem;
     color: #333333;
     font-size: 0.16rem;
     margin-bottom: 0.03rem;
     cursor: pointer;
     box-sizing: border-box;
 }

 .gyh_bottom_red {
     color: #ff403a !important;
     font-weight: 600;
     border-bottom: 0.03rem solid #ff403a;
     border-radius: 0.02rem;
 }

 .wallet_conn {
     /* margin-top: 0.1rem;
    width: 11.24rem; */
     border-radius: 0.02rem;
     overflow: hidden;
     background-color: #ffffff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .wallet_conn .wallet_total {
     width: 10.64rem;
     height: 1rem;
     margin-top: 0.2rem;
     display: flex;
     border-radius: 0.02rem;
     background-color: rgb(207, 206, 206);
     flex-direction: row;
     justify-content: center;
     align-items: center;
     background: url(../../img/wallet/achievement1.png);
     background-size: 100% 100%;
 }

 .wallet_conn .wallet_total .wallet_money {
     font-size: 0.18rem;
     line-height: 0.24rem;
     color: #90400b;

 }

 .wallet_conn .wallet_total .wallet_money .wallet_money_num:hover {
     color: orangered;

 }

 .wallet_conn .wallet_total .wallet_money .wallet_money_num {
     transition: 0.6s;
     font-size: 0.5rem;
     line-height: 0.24rem;
     color: #90400b;
     padding-right: 0.1rem;
     cursor: pointer;
     transition: 0.6s;
 }

 .wallet_conn .coupon_nav {
     width: 11.24rem;
     background-color: #ffffff;
     border-radius: 0rem 0rem 0.06rem 0.06rem;
     font-size: 0.14rem;
     color: #666666;
     display: none;
     cursor: pointer;
 }

 .wallet_conn .coupon_nav div {
     margin: 0rem 0.3rem;
     line-height: 0.6rem;
     float: left;
 }

 .gyh_coupon_nav_active {
     color: #ff403a;
 }

 .wallet_conn .info {
     width: 11.24rem;
     height: 4.28rem;

 }

 .wallet_conn .info .wallet_info {
     width: 11.24rem;
     border-radius: 0.02rem;
     text-align: center;
     height: 4.3rem;
     background-color: #fff;

 }

 .wallet_conn .info .coupon_info {
     width: 11.24rem;
     border-radius: 0.02rem;
     background-color: #fff;
     text-align: center;
     height: 3rem;
     /* margin-top: 0.2rem; */
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: flex-start;
     position: relative;
     

 }

 .wallet_conn .info .coupon_info .show {
     position: absolute;
     width: 100%;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 33;
     color: #969696;
     font-size: 0.2rem;
     line-height: 100%;
     text-align: center;
 }

 .wallet_conn .info .coupon_info .coupon_unit:hover {
     box-shadow: -0.02rem -0.02rem 0.09rem #c3c3c3,
         0.02rem 0.02rem 0.09rem #c3c3c3;
     margin-top: 0.14rem;
 }

 .wallet_conn .info .coupon_info .coupon_unit {
     transition: 0.5s;
     width: 3.47rem;
     height: 0.96rem;
     background-color: #ffffff;
     box-shadow: 0rem 0rem 0.2rem 0rem rgba(0, 0, 0, 0.06);
     border-radius: 0.1rem;
     display: flex;
     flex-direction: row;
     cursor: pointer;
     margin: 0.2rem 0rem 0rem 0.2rem;
     position: relative;
 }

 .wallet_conn .info .coupon_info .coupon_unit .fail_tips {
     position: absolute;
     bottom: 0;
     right: 0.08rem;
     width: 0.85rem;
     height: 0.67rem;

 }

 .wallet_conn .info .coupon_info .coupon_unit .fail_tips img {
     width: 100%;
     height: 100%;
 }

 .wallet_conn .info .coupon_info .coupon_unit .unit_left {
     width: 1.11rem;
     background-size: 100% 100%;
     color: #ffffff;
    

 }

 .wallet_conn .info .coupon_info .coupon_unit .unit_left .unit_num {
     margin-top: 0.16rem;
     font-size: 0.15rem;
 }

 .wallet_conn .info .coupon_info .coupon_unit .unit_left .unit_num .num {
     font-size: 0.34rem;
 }

 .wallet_conn .info .coupon_info .coupon_unit .unit_left .unit_type {
     font-size: 0.14rem;
 }

 .wallet_conn .info .coupon_info .coupon_unit .unit_right {
     flex: 1;
     padding-left: 0.12rem;
     text-align: left;
 }

 .wallet_conn .info .coupon_info .coupon_unit .unit_right .title {
     font-size: 0.14rem;
     color: #333333;
     margin-top: 0.12rem;
 }

 .wallet_conn .info .coupon_info .coupon_unit .unit_right .time {
     font-size: 0.12rem;
     color: #999999;
     margin-top: 0.10rem;
 }

 .wallet_conn .info .coupon_info .coupon_unit .unit_right .block {
     background-color: #e4e4e4;
     width: 100%;
     height: 0.01rem;
     margin-top: 0.08rem;

 }

 .wallet_conn .info .coupon_info .coupon_unit .unit_right .range_box {
     display: flex;
     flex-direction: row;
     align-items: center;
     font-size: 0.12rem;
     color: #999999;
     margin-top: 0.08rem;
 }

 .wallet_conn .info .coupon_info .coupon_unit .unit_right .range_box .timeover_tips {
     width: 0.6rem;
     height: 0.16rem;
     background: url(../../img/wallet/overdue.png);
     background-size: 100% 100%;
     font-size: 0.1rem;
     text-indent: 0.06rem;
     color: #ffffff;
     text-align: center;
     margin-left: 0.06rem;
 }

 .pagination-container {
     position: absolute;
     bottom: 0.4rem;
     right: 0;
     left: 0;
     margin: 0 auto;
 }