<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<script>
		window.onload = function () {
			/* 720代表设计师给的设计稿的宽度，你的设计稿是多少，就写多少;100代表换算比例，这里写100是
			  为了以后好算,比如，你测量的一个宽度是100px,就可以写为1rem,以及1px=0.01rem等等 */
			getRem(1124, 100)
		};
		window.onresize = function () {
			getRem(1124, 100)
		};
		function getRem(pwidth, prem) {
			var html = document.getElementsByTagName("html")[0];
			var oWidth = document.body.clientWidth || document.documentElement.clientWidth;
			html.style.fontSize = oWidth / pwidth * prem + "px";
		}
	</script>
	<link rel="stylesheet" type="text/css" href="../../css/element-ui.css" />

	<link rel="stylesheet" type="text/css" href="../../css/media2.css" />
	<link rel="stylesheet" type="text/css" href="../../css/grgl/gwc.css" />

</head>
<style>
	[v-cloak] {
		display: none;
	}
</style>

<body>

	<div class="lmw_top">
		<div class="lmw_stars1">
			<img src="../../img/grgl_img/icon_shop2.png">
			<div class="lmw_color">购物车</div>
		</div>
		<div class="lmw_henxian"></div>
		<div class="lmw_stars2">
			<img src="../../img/grgl_img/icon_order.png">
			<div>确认订单</div>
		</div>
		<div class="lmw_henxian"></div>
		<div class="lmw_stars3">
			<img src="../../img/grgl_img/icon_complete.png">
			<div>支付完成</div>
		</div>
	</div>

	<div class="lmw_shopcar" id="app" v-cloak>
		<div class="lmw_carnr">
			<div class="lmw_buybooks">
				<div class="lmw_kc lmw_ajaxshopcar">
					<div class="tlk_table">
						<el-table v-loading="listLoading" ref="multipleTable" border @select-all="handleSelec"
							@select='onTableSelect' @selection-change="handleSelectionChange"
							element-loading-text="数据加载中，请稍后..." :data="tabList" style="width: 100%"
							:header-cell-style="{background:'#f5f5f5'}">
							<el-table-column type="selection" width="55">
							</el-table-column>
							<el-table-column align="center" label="序号" width="55">
								<template slot-scope="scope">
									<span>{{scope.$index+1}}</span>
								</template>
							</el-table-column>
							<el-table-column label="商品详情" width="320" align="center">
								<template slot-scope="scope">
									<div class="tlk_details">
										<div><img class="lmw_bookimgs" :src="scope.row.item.bigPicUrl"></div>
										<div>{{ scope.row.item.kcname }}</div>
									</div>
								</template>
							</el-table-column>
							<el-table-column align="center" label="金额/元" width="320">
								<template slot-scope="scope">
									<span class="tlk_moneys">￥{{ scope.row.item.disPrice}}</span>
								</template>
							</el-table-column>
							<el-table-column label="操作" align="center" min-width="220">
								<template slot-scope="scope">
									<button type="button" @click="sanButton(scope.row)"
										class="lmw_del lmw_bgcolor2">删除</button>
								</template>
							</el-table-column>
						</el-table>
					</div>
					<div v-if="tabList.length === 0 || tabList === undefined"
						style="text-align: center;width:100%;line-height:3.5rem;color:#969696;font-size:0.2rem">
						购物车空空如也
						<div @click="goCilum" class="gotokechen">去挑选课程
						</div>
					</div>

				</div>
				<div class="lmw_qjst">
					<el-checkbox v-model="checked" @change="checkedButton">全选</el-checkbox>
					<span class="lmw_delet" @click="deleButton">删除</span>
					<span class="gyh_hongbao">
						<span ref="hongbao" @click="hongbaoButton" class="gyh_hongbao_span" @mouseenter="mouseover()"
							@mouseleave="mouseLeave()">
							使用优惠券/红包</span>
						<div ref="SJ" class="SJ"></div>
						<el-collapse-transition>
							<div v-if="honbaoLoading">
								<div class="walletbox">
									<div class="wallet_title">
										<!-- <div>选择优惠卷/红包</div> -->
										<div class="wallet_close" @click="honbaoLoading = false">×</div>
									</div>
									<div>
										<div class="tlk_hongbao_box">
											<div>
												<span>红包金额：</span>
												<span>{{ honMoney || 0 }}</span>
											</div>
											<div>
												<el-switch @change="switchs" v-model="value1" active-text="使用红包"
													inactive-text="不使用红包">
												</el-switch>
											</div>
										</div>
										<ul class="tlk_honhbao_ul">
											<li class="coupon_info" v-for="(item, i) in list" :key="i">
												<div class="coupon_unit" :class="item.xuanze === true?'click_active':''"
													@click="couponButton(item)">
													<div class="unit_left">
														<div class="unit_num"><span v-if="item.type !== 3">¥</span>
															<span class="num">{{item.usedAmount}}</span></div>
														<div class="unit_type" v-if="item.type==1">新人券</div>
														<div class="unit_type" v-if="item.type==2">立减券</div>
														<div class="unit_type" v-if="item.type==3">折扣券</div>
														<div class="unit_type" v-if="item.type==''">全场通用</div>
													</div>
													<div class="unit_right">
														<div class="title">{{item.title}}</div>
														<div class="time">有效期至{{ item.validEndTime | youhuaTime}}</div>
														<div class="block"></div>
														<div class="range_box">
															<div class="range">使用范围：<span
																	class="range_type">{{item.withSn==''?'全场通用':'课程专用' }}
																</span>
															</div>
															<div class="timeover_tips" v-if="item.fail_time">即将过期
															</div>
														</div>
													</div>
													<div class="fail_tips" v-if="item.status==0">
														<img src="../../img/wallet/Expired.png" alt="">
													</div>
												</div>
											</li>
										</ul>
									</div>
									<!-- <div class="wallet_submit">
											<div class="wallet_cancel">取消</div>
											<div class="wallet_confirm">确认</div>
										</div> -->
								</div>
							</div>
						</el-collapse-transition>
					</span>
					<span>已选课程 <i class="lmw_color lmw_shownum">{{ numberCilum || 0 }}</i> 件</span>
					<span class="lmw_zj">总计：</span>
					<span class="lmw_allmoney lmw_color"><span>¥</span><span
							class="lmw_showprice">{{ allMoney || 0 }}</span></span>
					<span @click="gwcButton" class="lmw_go" v-if="multipleSelection.length > 0">去结算</span>
					<span class="lmw_go1" v-else>去结算</span>
				</div>
			</div>
		</div>
	</div>
	<script src="../../js/vue.js"></script>
	<script src="../../js/element-ui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/ajax.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/lmw/gwc.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>