<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script>
			window.onload = function(){
			    /* 720代表设计师给的设计稿的宽度，你的设计稿是多少，就写多少;100代表换算比例，这里写100是
			      为了以后好算,比如，你测量的一个宽度是100px,就可以写为1rem,以及1px=0.01rem等等 */
			    getRem(1124,100)
			};
			window.onresize = function(){
			    getRem(1124,100)
			};
			function getRem(pwidth,prem){
			    var html = document.getElementsByTagName("html")[0];
			    var oWidth = document.body.clientWidth || document.documentElement.clientWidth;
			    html.style.fontSize = oWidth/pwidth*prem + "px";
			}
		</script>
		<style type="text/css">
			[v-cloak] {
				display: none;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="../../css/element-ui.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/media2.css" />
		<link rel="stylesheet" type="text/css" href="../../css/grgl/wddd.css" />
	</head>
	<body>
		<div class="lmw_top">
			<div class="lmw_top1">
				<span class="lmw_qb lmw_linebottom">全部</span>
			</div>
		</div>

		<div class="lmw_shopcar" id="ddgl" v-cloak>
			<div class="lmw_carnr">
				<div class="lmw_qx">
					<ul>
						<li class="lmw_li1">
							<span>全部订单</span>
						</li>
						<li class="lmw_li2">
							<span>订单详情</span>
						</li>
						<li class="lmw_li3">
							<span>金额/元</span>
						</li>
						<li class="lmw_li4">
							<span>订单状态</span>
						</li>
						<li>
							<span>操作</span>
						</li>
					</ul>
				</div>
				<div class="lmw_buybooks">
					<div class="lmw_ajaxorder" v-for="(item, index) in orderDetails" :key="index">
						<div>
							<div class="lmw_ddbh">
								<ul>
									<li class="tlk_lsp">{{ item.dTime }}</li>&nbsp &nbsp &nbsp
									<li class="lmw_bh">
										订单编号：{{ item.orderId }}
									</li>
									<li class="lmw_time">
										<span class="current-time"></span>
									</li>
									<li>
										<img src="../../img/grgl_img/icon_consult.png" class="lmw_kfimg">
										咨询客服
									</li>
								</ul>
							</div>
							<div class="lmw_kc">
								<ul class="lmw_boder">
									<li class="lmw_shop fl">
										<ul class="clearfix">
											<li class="lmw_shopimg fl">
												<div class="fl">
													<!-- <input type="checkbox" class="lmw_check" value="100.03" name="lmw_check" /> -->
													<img :src="item.Img" class="lmw_bookimgs">
												</div>
												<div class="fl lmw_shopcerten">
													<div>{{ item.orderDetials[0].kcname }}</div>
													<!-- <div class="lmw_teachername">教师资格 / 周雪敏</div> -->
												</div>
											</li>
										</ul>
									</li>
									<li class="fl lmw_money">
										<span class="lmw_moneystyle">¥<span class="lmw_price">{{ item.orderDetials[0].price }}</span></span>
									</li>
									<li class="fl lmw_paystatus">
										<span class="lmw_statusstyle">已支付</span>
									</li>
									<li class="lmw_caozuo fl">
										<div class="lmw_btns">
											<button type="button" class="lmw_qjs lmw_bgcolor">已付款</button>
											<!-- <button type="button" class="lmw_del lmw_bgcolor2">删除</button> -->
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
                <div v-if="orderDetails.length === 0" class="tlk_notbuybooks">
						<div>
							订单空空如也
						</div>
						<div @click="gotobuy">
							<div class="tlk_buy_button_sp">去购买课程</div>
						</div>
				</div>			
			</div>
		</div>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/element-ui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/ajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lmw/ddgl.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
