<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../css/wdtk/kszt.css" />
	<link rel="stylesheet" type="text/css" href="../../css/element-ui.css" />
	<script src="../../js/adapotion-1.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/element-ui.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		window.onload = function () {
			getRem(1124, 100)
		};
		window.onresize = function () {
			getRem(1124, 100)
		};

		function getRem(pwidth, prem) {
			var html = document.getElementsByTagName("html")[0];
			var oWidth = document.body.clientWidth || document.documentElement.clientWidth;
			html.style.fontSize = oWidth / pwidth * prem + "px";
		}
	</script>
	<link rel="stylesheet" type="text/css" href="../../css/media2.css" />
	<link rel="stylesheet" type="text/css" href="../../css/layui.css" />
	<style type="text/css">
		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<div class="tlk_top1">
			<p class="tlk_jiaosi fl">教师资格证 - <span>{{curriculum}}</span></p>
			<div class="tlk_qiehuan fl">
				<p class="tlk_Switch_courses" @click="qiehuan"><img
						src="../../img/kszt/icon_switch.png"><span>切换课程</span></p>
				<div v-show="isshow" class="tlk_SwitchingCourses">
					<ul>
						<li v-for="(item, index) in curriculumList" :key="item.id" @click="choice(item, index)"
							:class="{active:index==current}">
							<div>{{ item.name }}</div><i v-show="index==current"><img
									src="../../img/grgl_img/succ_check.png" alt=""></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tlk_tab_content clearfix">
			<div class="tlk_floatfl_tab_box fl">
				<ul class="tlk_leftTab">
					<li v-for="(item,leftindex) in titleLeftList" :key="item.id" @click="leftTab(item, leftindex)"
						:class="{bgactive:leftindex==leftContent}"><img :src="item.src" alt="">
						<div>{{item.name}}</div>
					</li>
				</ul>
			</div>
			<div class="tlk_floatfr_tab_box fr">
				<ul class="tlk_rightTab">
					<li v-for="(item, rightindex) in titleRightList" :key="item.id" @click="rightTab(item, rightindex)"
						:class="{bgactive:rightindex==rightContent}"><img :src="item.src" alt="">
						<div>{{item.name}}</div>
					</li>
				</ul>
				<!-- 章节练习 -->
				<div class="tlk_table" v-if="num===0">
					<el-table v-loading="listLoading" element-loading-text="数据加载中，请稍后..." empty-text="对不起，没有找到相关数据！"
						:data="tableData" style="width: 100%" :header-cell-style="{background:'#f5f5f5'}">
						<el-table-column label="章节" width="180">
							<template slot-scope="scope">
								<span>{{ scope.row.name}}</span>
							</template>
						</el-table-column>
						<el-table-column align="center" label="已做/总题" width="180">
							<template slot-scope="scope">
								<span>{{ scope.row.didQuestionIdsList}}/{{ scope.row.questionIdTypesLenght }}</span>
							</template>
						</el-table-column>
						<el-table-column label="状态" align="center">
							<template slot-scope="scope">
								<span>{{ scope.row.state}}</span>
							</template>
						</el-table-column>
						<el-table-column label="操作" align="center">
							<template slot-scope="scope">
								<span @click="zjlxButton(scope.row, '1')" class="tlk_jixu" href="zt.html"
									target="_blank"><img src="../../img/icon_question.png"><span>做题</span></span>
								<!-- <div  class="tlk_goumai"><img src="../../img/icon_buy.png"><span>购买</span></div> -->
							</template>
						</el-table-column>
					</el-table>
				</div>
				<!-- 每日一练 -->
				<div class="tlk_table" v-if="num === 1">
					<template v-for="(item, index) in ti">
						<div class="tlk_wenti_box" v-if="topicContent === index">
							<div class="tlk_mrylTop">
								<div class="tlk_xuanzti">
									<span v-if="item.questionType.id === 1" class="tlk_timu_type">单选题</span>
									<span v-if="item.questionType.id === 2" class="tlk_timu_type">多选题</span>
									<span v-if="item.questionType.id === 3" class="tlk_timu_type">判断题</span>
									<span v-if="item.questionType.id === 4" class="tlk_timu_type">不定项选择题</span>
									<span v-if="item.questionType.id === 5" class="tlk_timu_type">简答题</span>
									<div style="margin-left: 0.2rem;"><span class="tlk_tiNum">{{ index + 1 }}</span>/10
									</div>
								</div>
								<div class="tlk_times_daoji">
									<img class="tlk_timers" src="../../img/kszt/icon_time.png" alt="">
									<div class="tlk_timers">{{ timers }}</div>
								</div>
							</div>
							<span class="tlk_jianda" v-if="item.situationData"
								v-html="item.situationData.content"></span>
							<p class="tlk_subject" v-html="item.questionTitle"></p>
							<div class="tlk_subject_box">
								<ul
									v-if="item.questionType.id === 1 || item.questionType.id === 2 || item.questionType.id === 3 || item.questionType.id === 4">
									<li v-for="(t, tindex) in item.xuanze" :key="tindex"
										v-if="t.he !== '' && t.he !== undefined">
										<div @click="selectTopic(item, t, index, tindex, item.questionType.id)"
											class="tlk_ti">
											<span v-if="t.state === true"><img
													src="../../img/kszt/icon_true.png"></span>
											<span v-if="t.state === false"><img
													src="../../img/kszt/icon_false.png"></span>
											<span v-if="t.state === undefined && t.he !== '' && t.he !== undefined"><img
													src="../../img/kszt/yuan.png"></span>
											<span class="tlk_xuanz_name" v-html="t.he"></span>
										</div>
									</li>
								</ul>
								<!-- <ul v-if="item.questionType.id === 2">
										<li v-for="(t, tindex) in item.xuanze" :key="tindex">
											<div @click="selectTopic(item, t, index, tindex, item.questionType.id)" class="tlk_ti">
												<span v-if="t.state === true"><img src="../../img/kszt/icon_true.png" ></span>
												<span v-if="t.state === false"><img src="../../img/kszt/icon_false.png" ></span>
												<span v-if="t.state === undefined && t.he !== '' && t.he !== undefined"><img src="../../img/kszt/yuan.png" ></span>
												<span class="tlk_xuanz_name" v-html="t.he"></span>
											</div>
										</li>
									</ul>
									<ul v-if="item.questionType.id === 3">
										<li v-for="(t, tindex) in item.xuanze" :key="tindex">
											<div @click="selectTopic(item, t, index, tindex, item.questionType.id)" class="tlk_ti">
												<span v-if="t.state === true"><img src="../../img/kszt/icon_true.png" ></span>
												<span v-if="t.state === false"><img src="../../img/kszt/icon_false.png" ></span>
												<span v-if="t.state === undefined && t.he !== '' && t.he !== undefined"><img src="../../img/kszt/yuan.png" ></span>
												<span class="tlk_xuanz_name" v-html="t.he"></span>
											</div>
										</li>
									</ul>
									<ul v-if="item.questionType.id === 4">
										<li v-for="(t, tindex) in item.xuanze" :key="tindex">
											<div @click="selectTopic(item, t, index, tindex, item.questionType.id)" class="tlk_ti">
												<span v-if="t.state === true"><img src="../../img/kszt/icon_true.png" ></span>
												<span v-if="t.state === false"><img src="../../img/kszt/icon_false.png" ></span>
												<span v-if="t.state === undefined && t.he !== '' && t.he !== undefined"><img src="../../img/kszt/yuan.png" ></span>
												<span class="tlk_xuanz_name" v-html="t.he"></span>
											</div>
										</li>
									</ul> -->
								<div v-if="item.questionType.id === 5">
									<el-input type="textarea" :autosize="{ minRows: 4, maxRows:9}"
										v-model="item.mainDesc" class="tlk_textarea" placeholder="请输入....">
									</el-input>
								</div>
								<div class="tlk_timi_button">
									<div class="tlk_pro" @click="pro(item, index)">上一题</div>
									<div class="tlk_next" @click="next(item, index)">下一题</div>
								</div>
							</div>
							<div @click="handPapers" class="tlk_papers_button">交卷</div>
						</div>
					</template>
				</div>
				<!-- 模拟考场 -->
				<div class="tlk_table" v-if="num === 2">
					<ul>
						<li class="tlk_mnkc" v-for="(item, index) in mnksList" :key="item.paper.id">
							<!-- :class="[item.state === true?'tlk_mnkcName':'tlk_mnkcName1']" -->
							<div class="tlk_mnkcName">{{item.paper.paperName}}<img v-if="item.paper.state !== 4"
									src="../../img/kszt/icon_lock.png"></div>
							<div v-if="item.paper.state === 4" class="tlk_button"
								@click="mnksButton(item, index, '模拟考试')">免费考试</div>
							<div v-else class="tlk_button goumai"  @click="buyNow">立即购买</div>
							<!-- <div v-if="item.state === false" class="tlk_button1">立即购买</div> -->
						</li>
					</ul>
				</div>
				<!-- 历年真题 -->
				<div class="tlk_table" v-if="num === 3">
					<ul>
						<li class="tlk_mnkc" v-for="(item, index) in lnztList" :key="item.id">
							<div class="tlk_mnkcName">{{item.paper.paperName}}<img v-if="item.paper.state !== 4"
									src="../../img/kszt/icon_lock.png"></div>
							<div v-if="item.paper.state === 4" class="tlk_button"
								@click="mnksButton(item, index, '模拟考试')">测试</div>
							<div v-else class="tlk_button goumai" @click="buyNow">立即购买</div>
							<!-- <div @click="mnksButton(item, index, '历年真题')" class="tlk_button">开始做题</div> -->
							<!-- <div v-if="item.state === false" class="tlk_button1">立即购买</div> -->
						</li>
					</ul>
				</div>
				<!-- 智能评估 -->
				<div class="tlk_table" v-if="rightNum === 0">
					<div class="tlk_znpgbg">
						<div><span class="tlk_left_result">本科学习成绩 : </span><span
								class="tlk_fenshu">{{ fraction }}</span><span class="tlk_left_result">分
								(本科达65分以上考试概率为99%)</span></div>
					</div>
					<div>
						<div class="tlk_lianxi_title">
							<img src="../../img/kszt/icon_task1.png">
							<div class="tlk_lxrw_name">练习任务</div>
							<div class="tlk_lines"></div>
						</div>
						<div class="tlk_content_task">
							<ul>
								<li v-for="(item, index) in lxrw" :key="item.id" class="tlk_wode_lxrw" :key="index">
									<div class="tlk_znpg_list">
										<div>
											<div class="tlk_lxrw_title">{{ item.name }}
												({{ item.didQuestionNum }}/{{ item.requireQuestionNum }})</div>
											<div class="tlk_lxrw_title_down">{{ item.time }} 错题{{ item.wrongNum }}
												权重{{ item.weight }}
												正确率{{ item.correctRate }}%</div>
										</div>
										<div>
											<!-- <span class="tlk_chongzuo"><img src="../../img/icon_question.png"><span>重做</span></span> -->
											<span @click="znpgButton1(item)" class="tlk_see">查看详情</span>
										</div>
									</div>
									<el-collapse-transition>
										<div v-show="item.show1">
											<div class="tlk_item_lxrw">
												<div class="tlk_quote_nm">
													<ul>
														<li
															v-if="item.record === undefined || item.record.length === 0">
															亲，您还没有做题记录</li>
														<li v-if="item.record.length !== 0"
															v-for="(recordItem, recordItemIndex) in item.record"
															:key="recordItemIndex">
															<div>
																<div>{{ recordItem.reportTitle }}</div>
																<div class="tlk_lxrw_times">
																	用时:{{ recordItem.usedTime }}秒&nbsp &nbsp
																	&nbsp【{{ recordItem.recordTime }}】</div>
															</div>
															<div>
																<span
																	@click="znpgButtons(recordItem, recordItem.didRecordId, '1')"
																	class="tlk_chongzuo"><img
																		src="../../img/icon_question.png"><span>重做</span></span>
																<span
																	@click="znpgButtons(recordItem, recordItem.didRecordId, '2')"
																	class="tlk_see">查看解析</span>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</el-collapse-transition>
								</li>
							</ul>
						</div>
					</div>
					<div>
						<div class="tlk_lianxi_title">
							<img src="../../img/kszt/icon_task2.png">
							<div class="tlk_lxrw_name">考试任务</div>
							<div class="tlk_lines"></div>
						</div>
						<div class="tlk_content_task">
							<ul>
								<li class="tlk_wode_lxrw">
									<div class="tlk_znpg_list">
										<div>
											<div class="tlk_lxrw_title">{{ ksrw.name }}
												({{ ksrw.examCount }}/{{ ksrw.requireExamNum }})</div>
											<div v-if="ksrw.id" class="tlk_lxrw_title_down">最后一次得分{{ ksrw.examScore }}
											</div>
										</div>
										<div>
											<!-- <span class="tlk_chongzuo"><img src="../../img/icon_question.png"><span>重做</span></span> -->
											<span @click="znpgButton2(ksrw)" class="tlk_see">查看解析</span>
										</div>
									</div>
									<el-collapse-transition>
										<div v-show="ksrw.show2">
											<div class="tlk_item_lxrw">
												<div class="tlk_quote_nm">
													<ul>
														<li
															v-if="ksrw.record === undefined || ksrw.record.length === 0">
															亲，您还没有做题记录</li>
														<li v-if="ksrw.record.length !== 0"
															v-for="(recordItem, recordItemIndex) in ksrw.record"
															:key="recordItemIndex">
															<div>
																<div>{{ recordItem.reportTitle }}</div>
																<div class="tlk_lxrw_times">
																	用时:{{ recordItem.usedTime }}秒&nbsp &nbsp
																	&nbsp【{{ recordItem.recordTime }}】</div>
															</div>
															<div>
																<span
																	@click="znpgButtons(recordItem, recordItem.didRecordId, '1')"
																	class="tlk_chongzuo"><img
																		src="../../img/icon_question.png"><span>重做</span></span>
																<span
																	@click="znpgButtons(recordItem, recordItem.didRecordId, '2')"
																	class="tlk_see">查看解析</span>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</el-collapse-transition>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- 错题本 -->
				<div v-if="rightNum === 1">
					<div class="tlk_noneData" v-if="ctb.length === 0 || ctb === undefined">
						题目记录空空如也
					</div>
					<div class="tlk_content_task">
						<ul>
							<li v-for="(ctbval, ctbindex) in ctb" class="tlk_public_style">
								<div>
									<div class="tlk_lxrw_title">{{ ctbval.name }}</div>
									<div class="tlk_lxrw_title_down">错题{{ ctbval.wrongNum }}</div>
								</div>
								<div>
									<span onselectstart="return false" @click="redoButton(ctbval, '1')"
										class="tlk_chongzuo"><img
											src="../../img/icon_question.png"><span>重做</span></span>
									<span @click="redoButton(ctbval, '2')" class="tlk_see">查看解析</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- 试题收藏 -->
				<div v-if="rightNum === 2">
					<div class="tlk_noneData" v-if="stsc.length === 0 || stsc === undefined">
						题目记录空空如也
					</div>
					<div class="tlk_content_task">
						<ul>
							<li v-for="(stscItem, stscindex) in stsc" class="tlk_public_style">
								<div>
									<div class="tlk_lxrw_title">{{ stscItem.name }}</div>
									<div v-if="stscItem.id" class="tlk_lxrw_title_down">
										共<span>{{ stscItem.collectNum }}题</span></div>
								</div>
								<div>
									<span @click="tryCollection(stscItem, '2')"
										class="tlk_chakan"><span>查看</span></span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- 做题记录 -->
				<div v-if="rightNum === 3">
					<div class="tlk_noneData" v-if="ztjl.length === 0 || ztjl === undefined">
						题目记录空空如也
					</div>
					<div class="tlk_content_task">
						<ul>
							<li v-for="(ztjlItem, ztjlindex) in ztjl" class="tlk_public_style">
								<div>
									<div class="tlk_lxrw_title">{{ ztjlItem.reportTitle }}</div>
									<div class="tlk_lxrw_title_down">{{ ztjlItem.recordTime }}
										用时:{{ ztjlItem.usedTime || 0 }}秒
										错题{{ ztjlItem.wrongNum || 0 }} 权重0 正确率{{ ztjlItem.correctRate || 0 }}%</div>
								</div>
								<div>
									<span @click="ztjlButton(ztjlItem, ztjlItem.didRecordId, '1')"
										class="tlk_chongzuo"><img
											src="../../img/icon_question.png"><span>重做</span></span>
									<span @click="ztjlButton(ztjlItem, ztjlItem.didRecordId, '2')"
										class="tlk_see">查看解析</span>
								</div>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="../../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/layui.all.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/lmw/kszt.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
	</script>
</body>

</html>