<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<script>
		window.onload = function () {
			getRem(1920, 100)
		};
		window.onresize = function () {
			getRem(1920, 100)
		};

		function getRem(pwidth, prem) {
			var html = document.getElementsByTagName("html")[0];
			var oWidth = document.body.clientWidth || document.documentElement.clientWidth;
			html.style.fontSize = oWidth / pwidth * prem + "px";
		}
	</script>
	<link rel="stylesheet" type="text/css" href="../../css/element-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../css/media1.css" />
	<link rel="stylesheet" type="text/css" href="../../css/head.css" />
	<link rel="stylesheet" href="../../css/wdtk/zt.css">
	<style type="text/css">
		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<div id="topnav">
		<div class="layer clearfix">
			<ul class="fl left">
				<li class="mr40"><a href="../../index.html" target="_blank">首页</a></li>
				<li class="mr40"><a href="javascript:void(0)">课程</a></li>
				<li class="mr40"><a href="javascript:void(0)">题库</a></li>
				<li class="mr40"><a href="javascript:void(0)">书店</a></li>
				<li class="mr40"><a href="javascript:void(0)">直播</a></li>
				<li><a href="javascript:void(0)"><img src="../../img/icon_phone.png" class="mr10 phone"> App下载</a></li>
			</ul>
			<ul class="fr right">
				<li>
					<a href=""><img src="../../img/man.png" class="tou">学考学考</a>
				</li>
				<li class="line"></li>
				<li class="mr40">
					<a href=""><img src="../../img/shopcar.png" class="icon-shop">购课车</a>
				</li>
				<li><a href="">在线咨询</a></li>
			</ul>
		</div>
	</div>
	<div id="tlk_zt" v-cloak>
		<div class="layer" id="lmw_thiskc">
			<p class="lmw_kcname">当前位置： 题库 > {{ names }} > {{ paper.paperName }}</p>
			<div class="lmw_imgs fl">
				<img src="../../img/ph1.png" alt="">
			</div>
			<div class="fl lmw_miaoshu clearfix">
				<p>{{ paper.paperName }}</p>
				<div class="lmw_back" @click="gotozuoti">返回</div>
				<p v-if="showAnswer === false" class="lmw_ju">已完成{{ completeing.length }}题 / 共{{ ti.length }}题</p>
				<el-progress v-if="showAnswer === false" :text-inside="true" :stroke-width="20"
					:percentage="percentages" status="exception"></el-progress>
			</div>
		</div>
		<div class="layer clearfix" id="lmw_zt">
			<div class="fl" v-for="(item, index) in ti" v-if="topicContent === index">
				<div class="lmw_ztleft">
					<div class="lmw_tmxs">
						<div class="lmw_tmlx">
							<span v-if="item.questionType.id === 1" class="lmw_lx">单选题</span>
							<span v-if="item.questionType.id === 2" class="lmw_lx">多选题</span>
							<span v-if="item.questionType.id === 3" class="lmw_lx">判断题</span>
							<span v-if="item.questionType.id === 4" class="lmw_lx">不定项选择题</span>
							<span v-if="item.questionType.id === 5" class="lmw_lx">简答题</span>
							<span>
								<span class="lmw_yz">{{ index + 1 }}</span>/{{ tiLenght }}
							</span>
						</div>
						<div class="lmw_tmnr clearfix">
							<div class="fl" v-if="item.situationData" v-html="item.situationData.content"></div>
							<div class="fl" v-html="item.questionTitle"></div>
							<div class="lmw_fenzi fl">（{{ item.score }}分）</div>
						</div>
						<div class="lmw_xuanxiang">
							<ul>
								<li v-for="(t, tindex) in item.xuanze" :key="tindex"
									v-if="t.he !== '' && t.he !== undefined">
									<div @click="selectTopic(item, t, index, tindex, item.questionType.id)"
										class="tlk_ti">
										<span v-if="t.state === true"><img src="../../img/kszt/icon_true.png"></span>
										<span v-if="t.state === false"><img src="../../img/kszt/icon_false.png"></span>
										<span v-if="t.state === undefined && t.he !== '' && t.he !== undefined"><img
												src="../../img/kszt/yuan.png"></span>
										<span class="tlk_xuanz_name clearfix" v-html="t.he"></span>
									</div>
								</li>
							</ul>
							<div v-if="item.questionType.id === 5">
								<el-input @blur="mainDescButton(item)" type="textarea"
									:autosize="{ minRows: 4, maxRows:9}" v-model="item.mainDesc" class="tlk_textarea"
									placeholder="请输入....">
								</el-input>
							</div>
						</div>
					</div>
					<div class="lmw_shouchang">
						<div class="lmw_scleft" v-if="showAnswer === true">
							<div class="lmw_ckda"></div>
							<span>参考答案：</span>
							<span class="lmw_trueanwser">{{ item.obAnswer }}</span>
							<div v-if="anwShow === true && item.questionType.id !== 5" class="lmw_wdda"></div>
							<span v-if="anwShow === true && item.questionType.id !== 5">我的答案：</span>
							<span v-if="anwShow === true && item.questionType.id !== 5"
								class="lmw_myanwser">{{ item.didAnswerSet }}</span>
						</div>
						<div class="lmw_scleft">
						</div>
						<div class="lmw_scright">
							<span style="display: flex;align-items: flex-end;cursor: pointer;"
								@click="collection(item, index)">
								<img :src="item.src" class="lmw_img1">
								<div>收藏本题</div>
							</span>
							<div class="lmw_scline"></div>
							<img v-if="item.putAway === true" src="../../img/dr/icon_on.png" alt=""
								class="lmw_img2 lmw_up">
							<img v-if="item.putAway === false" src="../../img/dr/icon_down.png" alt=""
								class="lmw_img2 lmw_down">
							<span v-if="item.putAway === true" @click="shou(item)" class="lmw_sqjx">收起解析</span>
							<span v-if="item.putAway === false" @click="open(item)" class="lmw_dkjx">打开解析</span>
						</div>
					</div>
					<div class="lmw_tmjx" v-if="showAnswer === true && item.putAway === true">
						<ul>
							<!-- <li>
									<span>知识点：</span>
									<span>小学《综合素质+教育知识与能力+学科》全科直播班 > 第一章 教育学基础知识</span>
								</li> -->
							<li>
								<span>试题难度：</span>
								<span class="lmw_nd">
									<img v-for="newImg in item.Imgs" :src="newImg" alt="">
								</span>
							</li>
							<li>
								<span>统计：</span>
								<span>本题共被作答{{ item.answeredCount || 0 }}次 正确率{{ item.correctRate || 0 }}%</span>
							</li>
							<li v-if="item.questionType.id === 5">
								<span>我的答案：</span>
								<span>{{ item.didAnswerSet }}</span>
							</li>
							<li v-if="item.questionType.id === 5">
								<span>参考答案：</span>
								<span v-html="item.subAnswer"></span>
							</li>
							<li>
								<span>答案解析：</span>
								<span v-html="item.analyzeWord"></span>
							</li>
						</ul>
					</div>
				</div>
				<div class="lmw_xyt">
					<span @click="pro" class="lmw_xytleft"><img src="../../img/kszt/icon_previous.png"
							class="lmw_iconleft">上一题</span>
					<span class="lmw_xytcerten"><img src="../../img/kszt/icon_answer.png"
							class="lmw_iconcerten">参考答案</span>
					<span @click="next" class="lmw_xytright">下一题<img src="../../img/kszt/icon_next.png"
							class="lmw_iconright"></span>
				</div>
			</div>
			<div class="fr">
				<div class="lmw_rightdtk">
					<p class="lmw_righttop">
						<span class="lmw_shuxian"></span>答题卡
						<img v-if="showAnswer === false" style="margin-left: 46%;" class="tlk_name_time"
							src="../../img/kszt/icon_time.png">
						<span v-if="showAnswer === false" class="tlk_count_down">{{ timers }}</span>
					</p>
					<p class="lmw_dtkline"></p>
					<div class="lmw_tmtype">
						<p class="lmw_type">单项题</p>
						<ul class="lmw_quanbuti">
							<li ref="bgcolors" class="lmw_tman" @click="choiceButton(danxuan.numberIndex)"
								v-for="danxuan in danxuanList">{{ danxuan.numberIndex }}</li>
						</ul>
						<p class="lmw_type">多选题</p>
						<ul class="lmw_quanbuti">
							<li ref="bgcolors" class="lmw_tman" @click="choiceButton(duoxuan.numberIndex)"
								v-for="duoxuan in duoxuanList">{{ duoxuan.numberIndex }}</li>
						</ul>
						<p class="lmw_type">判断题</p>
						<ul class="lmw_quanbuti">
							<li ref="bgcolors" class="lmw_tman" @click="choiceButton(panduan.numberIndex)"
								v-for="panduan in panduanList">{{ panduan.numberIndex }}</li>
						</ul>
						<p class="lmw_type">不定项选择题</p>
						<ul class="lmw_quanbuti">
							<li ref="bgcolors" class="lmw_tman" @click="choiceButton(buding.numberIndex)"
								v-for=" buding in budingList">{{ buding.numberIndex }}</li>
						</ul>
						<p class="lmw_type">简答题</p>
						<ul class="lmw_quanbuti">
							<li ref="bgcolors" class="lmw_tman" @click="choiceButton(jianda.numberIndex)"
								v-for=" jianda in jiandaList">{{ jianda.numberIndex }}</li>
						</ul>
					</div>
					<div class="lmw_dtkline2"></div>
					<div class="lmw_tmstate">
						<div class="lmw_allstate">
							<div class="lmw_falsecolor"></div>
							错误
						</div>
						<div class="lmw_allstate">
							<div class="lmw_truecolor"></div>
							正确
						</div>
						<div class="lmw_allstate">
							<div class="lmw_rouzuocolor"></div>
							漏做
						</div>
						<div class="lmw_allstate">
							<div class="lmw_weizuocolor"></div>
							未做
						</div>
					</div>
					<div v-show="showAnswer === false" @click="jiaojuanButton" class="lmw_jiaojuan">
						保存进度，立刻交卷
					</div>
				</div>
			</div>
			<!-- 提示交卷 -->
			<el-dialog title="" :visible.sync="centerDialogVisible" top="15%" center width="20%">
				<div class="tlk_font_jiao">你确定要交卷吗</div>
				<span slot="footer" class="dialog-footer">
					<el-button class="tlk_left_button" type="primary" :loading="buttonLoading" @click="handPapers">确 定
					</el-button>
					<el-button @click="centerDialogVisible = false">取 消</el-button>
				</span>
			</el-dialog>
		</div>
		<!-- 返回登录 -->
		<el-dialog title="" :visible.sync="gyhVistie" top="15%" ref="Vistiedeng" center width="20%">
			<div class="tlk_font_jiao">连接超时或用户未登录，请重新登录</div>
			<span slot="footer" class="dialog-footer">
				<el-button class="tlk_left_button" type="primary" @click="goReturn">确 定
				</el-button>
				<el-button @click="gyhVistie = false">取 消</el-button>
			</span>
		</el-dialog>
		<div ref="submitBox" class="gyh_submit_box">
			<div class="gyh_submit">
				<div class="gyh_title">
					<div class="gyh_tit">试题报告</div>
					<div class="gyh_close" @click="forkButton">×</div>
				</div>
				<div class="gyh_connent">
					<div class="gyh_left">
						<div class="gyh_yuan"><span class="gyh_yuan_num">{{ accuracyL }}</span>%</div>
						<div class="gyh_zt_tips">正确率=做对题目/已做数量</div>
					</div>
					<div class="gyh_reight">
						<div class="gyh_prop">
							<div v-if="piandi === true" class="gyh_prop_tie">您目前的正确率 <span>偏低</span> </div>
							<div v-else class="gyh_prop_tie">您目前的正确率 <span>高于50%</span> </div>
							<div v-if="piandi === true" class="gyh_prop_text">想要通过考试，建议配合课程听老师分析讲解，再加强试题练习，从备考到冲刺快
								速锁分，备考更高效。</div>
							<div v-else class="gyh_prop_text">是否想继续提高考试能力？建议配合课程听老师分析讲解，再加强试题练习，从备考到冲刺快
								速锁分，备考更高效。</div>
						</div>
						<div class="gyh_kc">
							<div class="gyh_kc_title"> <span>相关课程</span></div>
							<div class="gyh_kc_info">
								<div class="info_left"><img class="info_kc_img" :src="recoCourses.bigSrc" alt=""></div>
								<div class="info_right">
									<div class="info_title">{{ recoCourses.kcname }}</div>
									<div class="info_num">
										<div class="info_baoming"> <span></span> </div>
										<div class="info_more" @click="understandButton(recoCourses)">点击了解</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="gyh_submits">
					<div class="gyh_look_fail" @click="wrongQuestions">查看本次错题</div>
					<div class="gyh_look_detail" @click="viewResolution">查看解析</div>
				</div>
			</div>
		</div>


	</div>


</body>

</html>
<!-- <script src="../../js/layui.all.js" type="text/javascript" charset="utf-8"></script> -->
<script src="../../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/element-ui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/ajax.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/lmw/zt.js" type="text/javascript" charset="utf-8"></script>