@import url("../clean.css");

::-webkit-scrollbar {
    width: 0px;
}

.tlk_top1 {
    position: relative;
    height: 0.79rem;
    background-color: #ffffff;
    border-radius: 0.06rem;
    padding-left: 0.3rem;
    font-size: 0.18rem;
    border-bottom: 0.01rem solid #f5f5f5;
}

.tlk_jiaosi {
    height: 100%;
    line-height: 0.79rem;
}

.tlk_qiehuan {
    position: relative;
    color: #999999;
    cursor: pointer;
    margin-left: 0.05rem;
    margin-top: 0.15rem;
    width: 1.2rem;
    height: 0.46rem;
    border: solid 0.01rem #e5e5e5;
}

.tlk_qiehuan p {
    line-height: 0.46rem;
    text-align: center;
}

.tlk_float_tab_box {
    width: 2rem;
    height: 0.6rem;
    background-color: #ffffff;
}

.tlk_Switch_courses {
    position: relative;
}

.tlk_Switch_courses span {
    display: inline-block;
    margin-left: 0.2rem;
}

.tlk_Switch_courses img {
    width: 0.14rem;
    height: 0.14rem;
    position: absolute;
    top: 0.15rem;
    left: 0.15rem;
}

.tlk_SwitchingCourses {
    z-index: 111111111;
    top: 0.6rem;
    left: -0.7rem;
    position: absolute;
    width: 2.9rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);
}

.tlk_SwitchingCourses ul {}

.tlk_SwitchingCourses ul li {
    line-height: 0.3rem;
    cursor: pointer;
    /* padding: 0.1rem 0.1rem 0.05rem 0.1rem; */
    padding: 0.1rem 0.1rem 0.1rem 0.3rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-bottom: 0.01rem solid #f5f5f5;

}

.tlk_SwitchingCourses ul li div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.14rem;
    width: 80%;
}

.tlk_SwitchingCourses ul li i {}

.tlk_floatfl_tab_box {
    width: 2.2rem;
    border-right: 0.01rem solid #f5f5f5;
    min-height: 5.79rem;
}

.tlk_floatfr_tab_box {
    position: relative;
    width: 9.25rem;
}

.tlk_noneData {
    color: #969696;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 3.2em;
    text-align: center;
    font-size: 0.2rem;
}

.active {
    color: #ff403a;
}

.tlk_tab_content {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.tlk_leftTab li {
    cursor: pointer;
    /* 	border-right:0.01rem solid #f5f5f5; */
    border-bottom: 0.01rem solid #f5f5f5;
    color: #666666;
    font-size: 0.14rem;
    line-height: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tlk_leftTab li div {
    margin-left: 0.2rem;
}
.tlk_leftTab li div:hover{
    color:#222
} 

.tlk_leftTab .bgactive {
    color: #ff403a;
    background-color: #fff5f5;
}

.tlk_rightTab li {
    font-size: 0.14rem;
}

.tlk_rightTab li img {
    width: 0.4rem;
    height: 0.34rem;
    padding-bottom: 0.1rem;
}

.tlk_rightTab .bgactive {
    color: #ff403a;
    background-color: #fff5f5;
}

.tlk_leftTab li img {
    width: 0.22rem;
    height: 0.22rem;
}

.tlk_rightTab {
    border-bottom: 0.01rem solid #f5f5f5;
    display: flex;
    justify-content: enter;
    align-items: center;
}

.tlk_rightTab li {
    cursor: pointer;
    padding: 0.2rem 0;
    text-align: center;
    width: 25%;
}

.tlk_table {
    background-color: rgba(0, 0, 0, 0);
    padding: 0.2rem;
}

.tlk_table .el-table {
    font-size: 0.14rem;
}

.tlk_table .is-leaf {
    border-bottom: 0.01rem solid #EBEEF5;
}

.tlk_table .el-table td {
    padding: 0.12rem 0;
}

.tlk_table .el-table th {
    padding: 0.12rem 0;
}

.tlk_table .el-table th>.cell {
    padding-left: 0.10rem;
    padding-right: 0.10rem;
}

.tlk_table .el-table .cell {
    line-height: 0.23rem;
}

.tlk_jixu {
    position: relative;
    color: #ff403a;
    font-size: 0.16rem;
    cursor: pointer;
    line-height: 0.36rem;
    display: inline-block;
    width: 1rem;
    height: 0.36rem;
    border: solid 0.01rem #ff403a;
}

.tlk_jixu a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ff403a;
}

.tlk_jixu:hover {
    color: #ff403a;
}
.tlk_jixu:hover{
    color:#ea7470;
    border: solid 0.01rem #ea7470;

}

.tlk_jixu span {
    display: inline-block;
    margin-left: 0.2rem;
}

.tlk_jixu img {
    position: absolute;
    top: 0.08rem;
    left: 0.2rem;
    width: 0.18rem;
    height: 0.18rem;
}

.tlk_goumai {
    position: relative;
    font-size: 0.16rem;
    cursor: pointer;
    line-height: 0.36rem;
    display: inline-block;
    width: 1rem;
    height: 0.36rem;
    border: solid 0.01rem #333333;
}

.tlk_goumai span {
    display: inline-block;
    margin-left: 0.2rem;
}

.tlk_goumai img {
    position: absolute;
    top: 0.08rem;
    left: 0.2rem;
    width: 0.18rem;
    height: 0.18rem;
}

.tlk_tiNum {
    font-size: 0.22rem;
    color: #333333;
}

.tlk_mrylTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tlk_timu_type {
    background-color: #ff6949;
    color: #FFFFFF;
    font-size: 0.12rem;
    line-height: 0.20rem;
    text-align: center;
    border-radius: 0.1rem 0.1rem 0rem 0.10rem;
    width: 0.50rem;
    height: 0.20rem;
    display: inline-block;
}

.tlk_xuanzti {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tlk_jianda p {
    line-height: 0.25rem;
}

.tlk_subject {
    margin-top: 0.2rem;
    font-size: 0.16rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.3rem;
    letter-spacing: 0rem;
    color: #333333;
}

.tlk_mnkc {
    line-height: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.01rem solid #f5f5f5;
}

.tlk_mnkcName {
    position: relative;
    font-size: 0.16rem;
    color: #333333;
}

.tlk_mnkcName1 {
    position: relative;
    font-size: 0.16rem;
    color: #999999;
}

.tlk_button {
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: #ff403a;
    width: 1rem;
    height: 0.36rem;
    line-height: 0.36rem;
    border-radius: 0.07rem;
    border-radius:#ff403a ;
}
.goumai{
    color: #333;
    background-color: #fff;
    border: 0.01rem solid #333;
}
.tlk_button a {
    text-decoration: none;
    color: white;
}

.tlk_button a:hover {
    color: white;
}

.tlk_button1 {
    cursor: pointer;
    width: 1rem;
    height: 0.36rem;
    text-align: center;
    line-height: 0.36rem;
    border-radius: 0.06rem;
    border: 0.01rem solid #000000;
}

.tlk_mnkc {
    padding: 0 0.6rem 0 0.4rem;
}

.tlk_mnkc img {
    top: 0.25rem;
    position: absolute;
    margin-left: 0.2rem;
}

.tlk_znpgbg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    background: url(../../img/kszt/achievement1.png);
    background-size: 100% 100%;
}

.tlk_left_result {
    font-size: 0.18rem;
    color: #ffffff;
}

.tlk_fenshu {
    font-size: 0.5rem;
    color: #ffffff;
}

.tlk_lianxi_title {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.tlk_lines {
    width: 7.1rem;
    height: 0.02rem;
    background-color: #f5f5f5;
}

.tlk_lianxi_title img {
    margin-left: 0.15rem;
    width: 0.22rem;
    height: 0.22rem;
}

.tlk_lxrw_name {
    margin-right: 0.1rem;
    font-size: 0.18rem;
    color: #ff403a;
}

.tlk_content_task {
    padding: 0 0.3rem;
}

.tlk_content_task ul .tlk_wode_lxrw {
    border-bottom: 0.01rem solid #f5f5f5;
    line-height: 0.3rem;
    padding: 0.3rem 0 0.1rem 0;
}

.tlk_content_task ul .tlk_wode_lxrw .tlk_znpg_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tlk_item_lxrw {
    padding-top: 0.1rem;
    padding-left: 0.30rem;
}

.tlk_quote_nm {
    background-color: #efefef;
    padding: 0.15rem;
}

.tlk_quote_nm li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tlk_lxrw_times {
    color: #fd4d3f;
    font-weight: bold;
}

.tlk_lxrw_title {
    font-size: 0.16rem;
    color: #333333;
}

.tlk_lxrw_title_down {
    color: #777676 ;
}

.tlk_public_style {
    border-bottom: 0.01rem solid #f5f5f5;
    line-height: 0.3rem;
    padding: 0.3rem 0 0.1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tlk_chongzuo {
    cursor: pointer;
    margin-right: 0.2rem;
    position: relative;
    text-align: center;
    line-height: 0.36rem;
    font-size: 0.16rem;
    color: #ff403a;
    width: 1rem;
    height: 0.36rem;
    border: solid 0.01rem #ff403a;
    display: inline-block;
}

.tlk_chakan {
    cursor: pointer;
    margin-right: 0.2rem;
    position: relative;
    text-align: center;
    line-height: 0.36rem;
    font-size: 0.16rem;
    color: #ff403a;
    width: 1rem;
    height: 0.36rem;
    border: solid 0.01rem #ff403a;
    display: inline-block;
}

.tlk_chongzuo span {
    margin-left: 0.17rem;
    display: inline-block;
}

.tlk_chongzuo img {
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
}

.tlk_see {
    cursor: pointer;
    position: relative;
    text-align: center;
    line-height: 0.36rem;
    font-size: 0.16rem;
    width: 1rem;
    height: 0.36rem;
    display: inline-block;
    border: solid 0.01rem #333333;
}

.tlk_subject_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tlk_pro,
.tlk_next {
    cursor: pointer;
    text-align: center;
    color: #ff6949;
    line-height: 0.32rem;
    width: 1.1rem;
    height: 0.32rem;
    border: 0.01rem solid #ff6949;
    border-radius: 0.06rem;
}

.tlk_next {
    margin-top: 0.2rem;
}

.tlk_timi_button {
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-top: 0.4rem;
}

.tlk_wenti_box {
    /* height: 4rem; */
    position: relative;
}

.tlk_wenti_box .tlk_papers_button {
    margin-top: 1rem;
}

.tlk_papers_button {
    cursor: pointer;
    text-align: center;
    line-height: 0.41rem;
    margin: 0 auto;
    width: 1.4rem;
    height: 0.41rem;
    font-size: 0.18rem;
    border-radius: 0.06rem;
    color: #ffffff;
    background-color: #ff403a;
}

.tlk_subject_box ul {
    margin-left: 0.7rem;
}

.tlk_subject_box ul div {
    cursor: pointer;
}

.tlk_div_p>p {
    font-size: 0.16rem;
    line-height: 0.3rem;
    color: #333333;
}

.tlk_xuanz_name {
    margin-left: 0.1rem;
}

.tlk_ti {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.16rem;
    color: #333333;
    margin-top: 0.2rem;
}

.tlk_ti>div {
    margin-left: 0.1rem;
}

.tlk_ti img {
    width: 0.2rem;
    height: 0.2rem;
}

.tlk_morenxuanz {
    position: absolute;
    top: 0;
    left: -0.3rem;
    display: inline-block;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    border: solid 0.01rem #bfbfbf;
}

.tlk_textarea textarea {
    width: 5rem;
    height: 2rem !important;
}

.tlk_times_daoji {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tlk_timers {
    margin-left: 0.1rem;
}