@import url("../clean.css");

#mnks {
    width: 14rem;
    margin: 0 auto;
}

.tlk_mnkc_title {
    margin: 0.1rem 0;
    font-size: 0.14rem;
    color: #333333;
}

.tlk_top_content {
    padding: 0 0.8rem;
    background-color: #FFFFFF;
}

.tlk_mn_title {
    font-size: 0.24rem;
    color: #333333;
    text-align: center;
    line-height: 1rem;
    border-bottom: solid 0.01rem #e5e5e5;
}

.tlk_question_type ul {
    padding: 0.31rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tlk_question_type ul li:nth-child(1) {
    text-align: center;
    line-height: 0.3rem;
    width: 0.72rem;
    height: 0.3rem;
    border-radius: 0.15rem;
    background-color: #ff6949;
    color: #FFFFFF;
}

.tlk_question_type ul li:nth-child(2) {
    margin-left: 0.2rem;
    text-align: center;
    line-height: 0.3rem;
    width: 0.72rem;
    height: 0.3rem;
    background-color: #999999;
    border-radius: 0.15rem;
    color: #FFFFFF;
}

.tlk_question_type ul li:nth-child(3) {
    margin-left: 0.2rem;
    text-align: center;
    line-height: 0.3rem;
    width: 1rem;
    height: 0.3rem;
    background-color: #999999;
    border-radius: 0.15rem;
    color: #FFFFFF;
}

.tlk_question_type ul li:nth-child(4) {
    margin-left: 0.2rem;
    text-align: center;
    line-height: 0.3rem;
    width: 1.2rem;
    height: 0.3rem;
    background-color: #999999;
    border-radius: 0.15rem;
    color: #FFFFFF;
}

.tlk_question_type ul li:nth-child(5) {
    margin-left: 0.2rem;
    text-align: center;
    line-height: 0.3rem;
    width: 1rem;
    height: 0.3rem;
    background-color: #999999;
    border-radius: 0.15rem;
    color: #FFFFFF;
}

.tlk_question_box {
    margin-top: 0.2rem;
}

.tlk_left_question_box {
    min-height: 7.42rem;
    background: #FFFFFF;
    width: 10.24rem;
}

.tlk_right_question_box {
    width: 3.46rem;
}

.tlk_timu_buding {
    background-color: #ff6949;
    color: #FFFFFF;
    font-size: 0.12rem;
    line-height: 0.20rem;
    text-align: center;
    border-radius: 0.1rem 0.1rem 0rem 0.10rem;
    width: 0.8rem;
    height: 0.2rem;
    display: inline-block;
}

.tlk_timu_type {
    background-color: #ff6949;
    color: #FFFFFF;
    font-size: 0.12rem;
    line-height: 0.20rem;
    text-align: center;
    border-radius: 0.1rem 0.1rem 0rem 0.10rem;
    width: 0.5rem;
    height: 0.2rem;
    display: inline-block;
}

.tlk_xuanzti {
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tlk_title_mn {
    padding: 0 0.2rem;
    background-color: #fafafa;
    font-size: 0.16rem;
    line-height: 0.24rem;
    color: #333333;
}

.tlk_questionTitle_pading {
    display: flex;
    padding: 0 0.2rem;
}

.tlk_zuoti .tlk_cl_A {
    cursor: pointer;
    padding: 0.13rem 0rem;
}

/* .tlk_zuoti .tlk_cl_A span {
	display: inline-block;
	margin-left: 0.2rem;
}
 */
.tlk_zuoti {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    position: relative;
    padding-left: 0.6rem;
    padding-bottom: 0.2rem;
}

.tlk_Collection {
    position: absolute;
    right: 0.43rem;
    bottom: 0.3rem;
    display: inline-block;
    font-size: 0.16rem;
}

.tlk_Collection_box {
    cursor: pointer;
    display: flex;
    /* align-items: center; */
}

.tlk_Collection_box img {
    width: 0.2rem;
    height: 0.2rem;
}

.tlk_Collection div {
    margin-left: 0.1rem;
    color: #333333;
    font-size: 0.16rem;
}

/* 右侧 */
#tlk_zt .tlk_rightdtk {
    width: 3.46rem;
    min-height: 7.42rem;
    background-color: #ffffff;
    border-radius: 0.06rem;
    box-sizing: border-box;
    padding-left: 0.16rem;
    padding-top: 0.16rem;
    padding-bottom: 0.08rem;
}

#tlk_zt .tlk_rightdtk .tlk_shuxian {
    width: 0.06rem;
    height: 0.2rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.03rem;
    display: inline-block;
    margin-left: 0.1rem;
    margin-right: 0.08rem;
}

#tlk_zt .tlk_rightdtk .tlk_righttop {
    position: relative;
    height: 0.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.14rem;
}

.tlk_count_down {
    position: absolute;
    right: 0.21rem;
}

#tlk_zt .tlk_rightdtk .tlk_dtkline {
    width: 3.14rem;
    height: 0.01rem;
    background-color: #e6e6e6;
    border-radius: 0.005rem;
    margin-bottom: 0.2rem;
}

#tlk_zt .tlk_rightdtk .tlk_type {
    margin-bottom: 0.16rem;
}

#tlk_zt .tlk_rightdtk .tlk_tmtype {
    margin-left: 0.1rem;
    overflow-x: hidden;
    height: 5.86rem;
}

#tlk_zt .tlk_rightdtk .tlk_tmtype .tlk_quanbuti {
    display: flex;
    width: 3.14rem;
    flex-wrap: wrap;
    margin-bottom: 0.29rem;
}

#tlk_zt .tlk_rightdtk .tlk_tmtype .tlk_quanbuti .tlk_tman {
    width: 0.3rem;
    height: 0.26rem;
    background-color: white;
    border-radius: 0.04rem;
    border: solid 0.01rem #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.08rem;
    margin-bottom: 0.06rem;
    cursor: pointer;
}

.tlk_dtkline2 {
    width: 3.14rem;
    border: dashed 0.01rem #e5e5e5;
}

#tlk_zt .tlk_tmstate {
    width: 2.51rem;
    height: 0.18rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    display: flex;
    margin-bottom: 0.14rem;
}

#tlk_zt .tlk_tmstate .tlk_allstate {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#tlk_zt .tlk_tmstate .tlk_falsecolor {
    width: 0.18rem;
    height: 0.18rem;
    background-color: #ec3934;
    border-radius: 0.02rem;
    margin-right: 0.06rem;
}

.tlk_truecolor {
    width: 0.18rem;
    height: 0.18rem;
    background-color: #06bb86;
    border-radius: 0.02rem;
    margin-right: 0.06rem;
}

.tlk_rouzuocolor {
    width: 0.18rem;
    height: 0.18rem;
    background-color: #b1b6bf;
    border-radius: 0.02rem;
    margin-right: 0.06rem;
}

.tlk_weizuocolor {
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 0.02rem;
    border: solid 0.01rem #dedede;
    margin-right: 0.06rem;
}

.tlk_jiaojuan {
    width: 2.8rem;
    height: 0.44rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.06rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    color: white;
}

#tlk_zt .tlk_jiaojuan {
    margin-top: 0.1rem;
}

.tlk_suspend {
    cursor: pointer;
    margin: 0 auto;
    line-height: 0.44rem;
    text-align: center;
    width: 2.8rem;
    font-size: 0.14rem;
    height: 0.44rem;
    color: #ff403a;
    background-color: #fff5f5;
    border-radius: 0.06rem;
    border: solid 0.01rem #ff403a;
}

.tlk_name_time {
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    right: 0.8rem;
}

.tlk_textarea textarea {
    margin-top: 0.1rem;
    width: 6rem;
    height: 3rem !important;
}

.tlk_feng {
    display: flex;
}

#back_top {
    position: fixed;
    top: 85%;
    right: 20%;
    z-index: 100000;
}

.tlk_mnks_ti {
    display: inline-block;
    margin-left: 0.2rem;
}

.tlk_timi_button {
    margin-top: 0.3rem;
}

.tlk_mnks_img img {
    width: 0.2rem;
    height: 0.2rem;
}

.tlk_pro,
.tlk_next {
    margin: 0.1rem;
    cursor: pointer;
    text-align: center;
    color: #ff6949;
    line-height: 0.32rem;
    width: 1.1rem;
    height: 0.32rem;
    border: 0.01rem solid #ff6949;
    border-radius: 0.06rem;
}