#lmw_thiskc {
    height: 2.12rem;
    background-color: #ffffff;
    border-radius: 0.06rem;
    margin-top: 0.1rem;
    box-sizing: border-box;
    padding-top: 0.26rem;
    padding-left: 0.36rem;
    padding-right: 0.31rem;
    padding-bottom: 0.2rem;
}

#lmw_thiskc .lmw_kcname {
    color: #333;
    font-size: 0.14rem;
    padding-bottom: 0.19rem;
}

#lmw_thiskc .lmw_imgs img {
    width: 1.4rem;
    height: 1.32rem;
}

#lmw_thiskc .lmw_miaoshu {
    margin-left: 0.2rem;
    margin-top: 0.16rem;
    width: 11.72rem;
}

#lmw_thiskc .lmw_miaoshu .lmw_back:hover {
    color: #999999;
    background-color: #d6d6d6;
}

#lmw_thiskc .lmw_miaoshu .lmw_back {
    translate: 0.6s;
    float: right;
    width: 1.22rem;
    height: 0.36rem;
    background-color: #fffafa;
    border-radius: 0.18rem;
    border: solid 0.01rem #999999;
    text-align: center;
    line-height: 0.36rem;
    color: #666666;
    cursor: pointer;
}

#lmw_thiskc .lmw_miaoshu p:first-child {
    font-size: 0.16rem;
}

#lmw_thiskc .lmw_miaoshu .lmw_ju {
    margin-top: 0.4rem;
}

.lmw_miaoshu .layui-progress {
    margin-top: 0.12rem;
    height: 0.14rem !important;
    background-color: #fff5f5 !important;
}

.lmw_miaoshu .layui-progress-bar {
    background-color: #ff403a !important;
    height: 0.14rem !important;
}

#lmw_zt {
    margin-top: 0.21rem;
    margin-bottom: 0.45rem;
}

#lmw_zt .lmw_ztleft {
    /* min-height: 6.86rem; */
    background-color: white;
    width: 10.24rem;
    border-radius: 0.06rem;

}

#lmw_zt .lmw_ztleft .lmw_tmlx {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
}

#lmw_zt .lmw_ztleft .lmw_tmlx .lmw_lx {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0.5rem;
    height: 0.2rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.1rem 0.1rem 0rem 0.1rem;
    color: #fff;
    font-size: 0.12rem;
    line-height: 0.2rem;
    margin-right: 0.2rem;
}

#lmw_zt .lmw_ztleft .lmw_tmlx .lmw_yz {
    font-size: 0.22rem;
    color: #333;
}

#lmw_zt .lmw_ztleft .lmw_tmnr {
    margin-bottom: 0.3rem;
    line-height: 0.3rem;
}

#lmw_zt .lmw_ztleft .lmw_xuanxiang {
    padding-bottom: 0.4rem;
    margin-left: 0.4rem;
}

#lmw_zt .lmw_ztleft .lmw_xuanxiang img {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 0.13rem;
}

#lmw_zt .lmw_ztleft .lmw_xuanxiang li {
    cursor: pointer;
}

#lmw_zt .lmw_ztleft .lmw_xuanxiang .lmw_xx {
    margin-bottom: 0.3rem;
}

#lmw_zt .lmw_tmxs {
    background-color: white;
    min-height: 6.3rem;
    box-sizing: border-box;
    padding: 0.3rem 0.3rem 0rem 0.3rem;
}

#lmw_zt .lmw_xyt {
    margin-top: 0.28rem;
    width: 10.24rem;
    height: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.14rem 1.4rem;
    background-color: white;
    border-radius: 0.06rem;
}

#lmw_zt .lmw_ztleft .lmw_shouchang {
    height: 0.5rem;
    width: 10.24rem;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0.28rem;
    padding-right: 0.28rem;
}

#lmw_zt .lmw_ztleft .lmw_shouchang .lmw_scleft {
    width: 50%;
    display: flex;
    align-items: center;
}

#lmw_zt .lmw_ztleft .lmw_shouchang .lmw_scleft .lmw_ckda {
    width: 0.12rem;
    height: 0.12rem;
    background-color: #06bb86;
    border-radius: 50%;
    margin-right: 0.12rem;
    position: relative;
    top: 0.01rem;
}

#lmw_zt .lmw_ztleft .lmw_shouchang .lmw_scright {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#lmw_zt .lmw_ztleft .lmw_shouchang .lmw_sqjx {
    cursor: pointer;
}

#lmw_zt .lmw_ztleft .lmw_shouchang .lmw_dkjx {
    cursor: pointer;
}

.lmw_scline {
    width: 0.01rem;
    height: 0.2rem;
    background-color: #e6e6e6;
    margin-left: 0.13rem;
    margin-right: 0.1rem;
}

.lmw_scright .lmw_img1 {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 0.05rem;
}

.lmw_scright .lmw_img2 {
    width: 0.14rem;
    height: 0.08rem;
    margin-right: 0.07rem;
}

#lmw_zt .lmw_ztleft .lmw_tmjx {
    background-color: white;
    box-sizing: border-box;
    min-height: 2.36rem;
    padding: 0.3rem;
}

#lmw_zt .lmw_ztleft .lmw_tmjx img {
    width: 0.2rem;
    height: 0.2rem;
}

#lmw_zt .lmw_ztleft .lmw_tmjx li {
    margin-bottom: 0.22rem;
    /* height: 0.2rem; */
}

#lmw_zt .lmw_ztleft .lmw_tmjx .lmw_nd {
    display: inline-block;
    height: 0.25rem;
    position: relative;
    bottom: 0.02rem;
}

#lmw_zt .lmw_trueanwser {
    color: #06bb86;
    margin-right: 0.62rem;
}

#lmw_zt .lmw_myanwser {
    color: #ec3934;
}

#lmw_zt .lmw_wdda {
    width: 0.12rem;
    height: 0.12rem;
    background-color: #ec3934;
    border-radius: 50%;
    margin-right: 0.12rem;
    position: relative;
    top: 0.01rem;
}

#lmw_zt .lmw_xyt .lmw_xytleft {
    cursor: pointer;
}

#lmw_zt .lmw_xyt .lmw_xytcerten {
    cursor: pointer;
}

#lmw_zt .lmw_xyt .lmw_xytright:hover {}

#lmw_zt .lmw_xyt .lmw_xytright {

    cursor: pointer;
}

#lmw_zt .lmw_xyt .lmw_iconleft {
    margin-right: 0.1rem;
    width: 0.07rem;
    height: 0.12rem;
    position: relative;
    bottom: 0.01rem;
}

#lmw_zt .lmw_xyt .lmw_iconright {
    margin-left: 0.1rem;
    width: 0.07rem;
    height: 0.12rem;
    position: relative;
    bottom: 0.01rem;
}

#lmw_zt .lmw_xyt .lmw_iconcerten {
    width: 0.16rem;
    height: 0.2rem;
    margin-right: 0.07rem;
    position: relative;
    bottom: 0.01rem;
}

/* 右边 */
#lmw_zt .lmw_rightdtk {
    width: 3.46rem;
    min-height: 7.42rem;
    background-color: #ffffff;
    border-radius: 0.06rem;
    box-sizing: border-box;
    padding-left: 0.16rem;
    padding-top: 0.16rem;
    padding-bottom: 0.08rem;
}

#lmw_zt .lmw_rightdtk .lmw_shuxian {
    width: 0.06rem;
    height: 0.2rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.03rem;
    display: inline-block;
    margin-left: 0.1rem;
    margin-right: 0.08rem;
}

#lmw_zt .lmw_rightdtk .lmw_righttop {
    height: 0.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.14rem;
}

#lmw_zt .lmw_rightdtk .lmw_dtkline {
    width: 3.14rem;
    height: 0.01rem;
    background-color: #e6e6e6;
    border-radius: 0.005rem;
    margin-bottom: 0.2rem;
}

#lmw_zt .lmw_rightdtk .lmw_type {
    margin-bottom: 0.16rem;
}

#lmw_zt .lmw_rightdtk .lmw_tmtype {
    margin-left: 0.1rem;
    overflow: scroll;
    height: 5.86rem;
    overflow-x: hidden;
}

#lmw_zt .lmw_rightdtk .lmw_tmtype .lmw_quanbuti {
    display: flex;
    width: 3.14rem;
    flex-wrap: wrap;
    margin-bottom: 0.29rem;
}

#lmw_zt .lmw_rightdtk .lmw_tmtype .lmw_quanbuti .lmw_tman {
    width: 0.3rem;
    height: 0.26rem;
    background-color: white;
    border-radius: 0.04rem;
    border: solid 0.01rem #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.08rem;
    margin-bottom: 0.06rem;
    cursor: pointer;
}

.lmw_dtkline2 {
    width: 3.14rem;
    border: dashed 0.01rem #e5e5e5;
}

#lmw_zt .lmw_tmstate {
    width: 2.51rem;
    height: 0.18rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    display: flex;
    margin-bottom: 0.14rem;
}

#lmw_zt .lmw_tmstate .lmw_allstate {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#lmw_zt .lmw_tmstate .lmw_falsecolor {
    width: 0.18rem;
    height: 0.18rem;
    background-color: #ec3934;
    border-radius: 0.02rem;
    margin-right: 0.06rem;
}

.lmw_truecolor {
    width: 0.18rem;
    height: 0.18rem;
    background-color: #06bb86;
    border-radius: 0.02rem;
    margin-right: 0.06rem;
}

.lmw_rouzuocolor {
    width: 0.18rem;
    height: 0.18rem;
    background-color: #b1b6bf;
    border-radius: 0.02rem;
    margin-right: 0.06rem;
}

.lmw_weizuocolor {
    width: 0.18rem;
    height: 0.18rem;
    border-radius: 0.02rem;
    border: solid 0.01rem #dedede;
    margin-right: 0.06rem;
}

#lmw_zt .lmw_jiaojuan {
    width: 2.8rem;
    height: 0.44rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.06rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    color: white;
}

#lmw_mtkbg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}


/* 模态框 */
#lmw_mtk {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3.48rem;
    height: 3.1rem;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 120;
    box-shadow: 0px 0px 35px 0px rgba(0, 9, 27, 0.1);
    border-radius: 10px;
}

#lmw_mtk .lmw_mtktop {
    display: flex;
    height: 0.5rem;
    width: 3.15rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    font-size: 0.16rem;
    color: #666666;
}

#lmw_mtk .lmw_mtktop img {
    width: 0.14rem;
    height: 0.14rem;
    cursor: pointer;
}

.lmw_mtkline {
    width: 3.14rem;
    height: 0.01rem;
    background-color: #e6e6e6;
    margin: 0 auto;
}

#lmw_mtk .lmw_zql {
    margin-top: 0.2rem;
    margin-bottom: 0.13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lmw_mtk .lmw_bfb {
    width: 1.2rem;
    height: 1.2rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.2rem;
    color: white;
}

#lmw_mtk .lmw_bfb .lmw_num {
    font-size: 0.48rem;
}

#lmw_mtk .lmw_zqtm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.23rem;
}

#lmw_mtk .lmw_mtkct {
    color: white;
    width: 1.54rem;
    height: 0.36rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.18rem;
    margin: 0 auto;
    text-align: center;
    line-height: 0.36rem;
    margin-top: 0.15rem;
    cursor: pointer;
}

#lmw_qrjj {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 4.32rem;
    height: 1.6rem;
    background-color: white;
    z-index: 111111;
    border-radius: 10px;
}

#lmw_qrjj .lmw_sf {
    display: flex;
    justify-content: center;
    font-size: 0.16rem;
    margin-top: 0.35rem;
}

#lmw_qrjj .lmw_qrqx {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.35rem;
}

#lmw_qrjj .lmw_qrqx .lmw_qr {
    width: 1.1rem;
    height: 0.4rem;
    background-image: linear-gradient(0deg, #ff403a 0%, #ff6949 100%);
    border-radius: 0.06rem;
    text-align: center;
    line-height: 0.4rem;
    color: white;
    cursor: pointer;
}

#lmw_qrjj .lmw_qrqx .lmw_qx {
    width: 1.1rem;
    height: 0.4rem;
    box-sizing: border-box;
    border: 0.01rem solid #ec5145;
    text-align: center;
    line-height: 0.4rem;
    border-radius: 0.06rem;
    margin-left: 0.3rem;
    color: #EC5145;
    cursor: pointer;
}

.el-progress-bar__outer {
    height: 0.2rem !important;
}

.tlk_ti {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.16rem;
    color: #333333;
    margin-top: 0.2rem;
}

.tlk_ti>div {
    margin-left: 0.1rem;
}

.tlk_ti img {
    width: 0.2rem;
    height: 0.2rem;
}

.tlk_xuanz_name {
    margin-left: 0.1rem;
}

.tlk_xuanz_name p {
    float: left;
}

.tlk_font_jiao {
    font-size: 0.16rem;
    text-align: center;
}

.tlk_left_button {
    border-color: white;
    background-image: linear-gradient(0deg, #ff403a 0%, #ff6949 100%);
}

.tlk_left_button:hover {
    border-color: white;
    background-image: linear-gradient(0deg, #ff403a 0%, #ff6949 100%);
}

.el-dialog__footer {
    text-align: center;
}

.tlk_baogao_style {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tlk_baogao_left {
    width: 30%;
}

.tlk_baogao_right {
    width: 70%;
}



.gyh_submit_box {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 523;
}

.gyh_submit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7.68rem;
    height: 3.94rem;
    background-color: #ffffff;
    border-radius: 0.06rem;
    padding: 0rem 0.22rem;
    font-size: 0.16rem;
    color: #666666;
}

.gyh_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.01rem solid #e6e6e6;
    line-height: 0.54rem;
}

.gyh_close:hover {
    transform: rotate(180deg);
}

.gyh_close {
    transition: 1s;
    color: #999999;
    cursor: pointer;
    font-size: 0.2rem;
}

.gyh_connent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.01rem solid #e6e6e6;
}

.gyh_left {
    width: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gyh_yuan:hover {
    color: #b1b6bf;
}

.gyh_yuan {
    transition: 1s;
    width: 1.2rem;
    height: 1.2rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 50%;
    line-height: 1.12rem;
    text-align: center;
    margin-top: 0.47rem;
    font-size: 0.2rem;
    color: #ffffff;
    cursor: pointer;
}

.gyh_yuan_num {
    font-size: 0.48rem;
}

.gyh_zt_tips {

    font-size: 0.12rem;
    line-height: 0.3rem;
    color: #333333;
}

.gyh_reight {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
	align-items: center; */
    font-size: 0.14rem;
    color: #666666;
    padding: 0.22rem 0rem;
}

.gyh_prop {
    font-size: 0.14rem;
    color: #666666;
}

.gyh_prop_tie span {
    color: #ff403a;
    font-size: 0.2rem;
}

.gyh_prop_text {
    margin-top: 0.14rem;

}

.gyh_kc_title {
    font-size: 0.16rem;
    color: #333333;
    border-bottom: 0.01rem solid #e6e6e6;
    line-height: 0.4rem;
}

.gyh_kc_title span {
    display: inline-block;
    border-bottom: 0.03rem solid #ff403a;
}

.gyh_kc_info {
    margin-top: 0.1rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;

}

.info_left {
    width: 0.65rem;
    height: 0.61rem;
}

.info_kc_img {
    width: 100%;
    height: 100%;
}

.info_right {
    flex: 1;
    padding-left: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.info_title {
    font-size: 0.14rem;
    line-height: 0.24rem;
    color: #333333;
}

.info_num {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 0.4rem;

}

.info_more:hover {
    color: white;
    background-color: #ff403a;
}

.info_more {
    transition: 1s;
    font-size: 0.14rem;
    color: #ff403a;
    border-radius: 0.3rem;
    text-align: center;
    margin-top: 0.1rem;
    cursor: pointer;
    width: 1.22rem;
    height: 0.3rem;
    background-color: #fffafa;
    border-radius: 0.15rem;
    border: solid 0.01rem #ff403a;
    line-height: 0.3rem;
}

.info_baoming {
    padding-top: 0.1rem;
}

.gyh_submits {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.gyh_submits {
    margin-top: 0.1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.gyh_submits div:hover {
    box-shadow: 0.01rem 0.01rem 0.2rem #333;
}

.gyh_submits div {
    transition: 0.6s;
    margin-top: 0.2rem;
    padding: 0.1rem 0.35rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.18rem;
    font-size: 0.14rem;
    color: #ffffff;
    text-align: center;
    margin-right: 0.2rem;
    cursor: pointer;
}

.tlk_baogao_right {
    width: 70%;
}

.tlk_accuracy_img {
    border-radius: 50%;
}

.tlk_count_down {
    margin-left: 0.1rem !important;
}