@import url("clean.css");

#topnav {
    height: 0.5rem;
    background-color: #ffffff;
}

#topnav .left li {
    float: left;
    line-height: 0.5rem;
}

#topnav .left .phone {
    width: 0.12rem;
    height: 0.18rem;
}

#topnav .right {
    line-height: 0.5rem;
}
#topnav .left li:hover{
font-weight: 600;
}
#topnav .left li{

    cursor: pointer;

}
#topnav .right li:hover{
font-weight: 600;

}
#topnav .right li {
    float: left;
}

#topnav .right .tou {
    width: 0.3rem;
    margin-right: 0.1rem;
    height: 0.3rem;
    /* padding: 0 0.2rem; */
}

#topnav .right .sign:hover {
    background-color: rgb(255, 136, 136);

}

#topnav .right .sign {
    cursor: pointer;
    margin-left: 0.2rem;
    border-radius: 0.1rem;
    background-color: rgb(255, 102, 102);
    color: white;
    width: 1rem;
    text-align: center;
    line-height: 0.3rem;
    margin-top: 0.1rem;
}

#topnav .right .sign .sign_in {
    display: none;
}

.line {
    width: 0.01rem;
    height: 0.14rem;
    background-color: #e6e6e6;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.18rem;
}

.icon-shop {
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.1rem;
    margin-bottom: 0.05rem;
}

#bg {
    background: url(../img/bg.png);
    width: 19.2rem;
    height: 1.56rem;
    color: #ffffff;
}

#bg .welcom {
    width: 19.2rem;
    height: 0.17rem;
    text-align: center;
    line-height: 0.17rem;
    padding-top: 0.26rem;
    font-size: 0.16rem;
}

#bg .medal {
    text-align: center;
    width: 19.2rem;
    height: 0.26rem;
    line-height: 0.26rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#bg .medal span {
    color: #fd9600;
    font-size: 0.12rem;
}

#bg .medal img {
    width: 0.21rem;
    height: 0.26rem;
    margin-left: 0.05rem;
}

#bg .userinfo {
    width: 11.8rem;
    height: 0.66rem;
    margin-left: 4.7rem;
    margin-right: 2.8rem;
}

#bg .userinfo .zhye {
    width: 2.16rem;
    text-align: center;
}

#bg .userinfo .number {
    font-family: DINBEKBold;
    font-size: 0.22rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #ffffff;
    padding-top: 0.1rem;
}

.line2 {
    width: 0.01rem;
    height: 0.32rem;
    background-color: #999999;
    margin-top: 0.1rem;
}


#bg .userinfo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bg .userinfo .touxiang {
    position: relative;
    top: 0.6rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
}



#bg2 {
    margin-top: 0.5rem;
}

#bg2 img {
    height: 0.8rem;
}

#neirong {
    margin-top: 0.1rem;
}

#neirong .sidebar {
    width: 2.56rem;
    height: 6.8rem;
    background-color: #ffffff;
    border-radius: 0.06rem;

}
#neirong .sidebar ul li ul li:hover{
    color:rgb(0, 0, 0);
    font-weight: 500;
    /* font-weight: 600; */
}
#neirong .sidebar ul li ul li{
    color: #333;
}
#neirong .sidebar .sy {
    width: 2.56rem;
    height: 0.4rem;
    padding-left: 0.64rem;
    line-height: 0.4rem;
    margin-top: 0.09rem;
    margin-bottom: 0.08rem;
}

#neirong .sidebar .active {
    display: block;
}

.icon-home-11 {
    width: 0.3rem;
    height: 0.3rem;
    padding-right: 0.14rem;
}

.line3 {
    margin: 0 auto;
    width: 2.2rem;
    height: 0.01rem;
    background-color: #e6e6e6;
}

#neirong .sidebar .list {
    margin-bottom: 0.1rem;
}

#neirong .sidebar .list a:not(:first-child) {
    display: flex;
    /* align-items: ; */
    padding-left: 0.64rem;
    font-size: 0.14rem;
    height: 0.53rem;
    line-height: 0.53rem;
}

#neirong .sidebar .list .oneli {
    margin-left: 0.59rem;
    font-size: 0.14rem;
    color: #666666;
    height: 0.4rem;
    line-height: 0.4rem;
}

#neirong .sidebar .list li:first-child a {
    color: #666;
}

#neirong .sidebar .list li img {
    margin-right: 0.14rem;
}

.icon1 {
    width: 0.22rem;
    height: 0.18rem;
}

.icon2 {
    width: 0.2rem;
    height: 0.22rem;
}

.icon3 {
    width: 0.23rem;
    height: 0.19rem;
}

.icon4 {
    width: 0.22rem;
    height: 0.20rem;
}

.icon5 {
    width: 0.19rem;
    height: 0.18rem;
}

.icon6 {
    width: 0.18rem;
    height: 0.20rem;
}

.icon7 {
    width: 0.21rem;
    height: 0.19rem;
}

.icon8 {
    width: 0.19rem;
    height: 0.22rem;
}

#neirong .changehtml {
    width: 11.24rem;
    border-radius: 0.06rem;
    overflow: scroll;
}


.dialogbox {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    display: none;
}

.dialogbox .dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3.48rem;
    height: 3.1rem;
    background-color: #fff;
    border-radius: 0.06rem;
    box-shadow: -0.02rem -0.02rem 0.09rem #c3c3c3,
        0.02rem 0.02rem 0.09rem #c3c3c3;
    padding: 0.17rem;
}

.dialogbox .dialog .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.02rem solid #e6e6e6;
    font-size: 0.16rem;
    color: #666666;
    line-height: 0.5rem;
}

.dialogbox .dialog .title .close:hover {
    transform: rotate(180deg);
}

.dialogbox .dialog .title .close {
    font-size: 0.3rem;
    transition: 1s;
    cursor: pointer;
}

.dialogbox .dialog .cnnent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.02rem solid #e6e6e6;
    padding-bottom: 0.2rem;

}


.dialogbox .dialog .cnnent .yuan:hover {
    color: rgb(201, 201, 201);

}

.dialogbox .dialog .cnnent .yuan {
    transition: .6s;

    width: 1.2rem;
    height: 1.2rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    font-size: 0.2rem;
    color: #ffffff;
    border-radius: 50%;
    line-height: 1.12rem;
    text-align: center;
    ;
    margin-top: 0.2rem;
    cursor: pointer;

}



.dialogbox .dialog .cnnent .yuan .num {
    font-size: 0.48rem;
}

.dialogbox .dialog .cnnent .tips {
    margin-top: 0.13rem;
    font-size: 0.12rem;
    line-height: 0.3rem;
    color: #333333;
}

.dialogbox .dialog .cnnent .tips span {
    color: #ff403a;
}

.dialogbox .dialog .submit:hover {
    box-shadow: 0.02rem 0.02rem 0.09rem #6d6d6d;
    margin-top: 0.1rem;
    color: rgb(255, 254, 205);
}



.dialogbox .dialog .submit {
    transition: .6s;
    margin: 0 auto;
    width: 1.54rem;
    height: 0.36rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.18rem;
    line-height: 0.36rem;
    text-align: center;
    color: white;
    margin-top: 0.16rem;
    cursor: pointer;
}


.tipsdialogbox {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    display: none;
}

.tipsdialogbox .tipsdialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 1.8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.06rem;
    box-shadow: -0.02rem -0.02rem 0.09rem #c3c3c3,
        0.02rem 0.02rem 0.09rem #c3c3c3;
    padding: 0.1rem;
}



.tipsdialogbox .tipsdialog .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.02rem solid #e6e6e6;
    font-size: 0.16rem;
    color: #666666;
    line-height: 0.3rem;
}

.tipsdialogbox .tipsdialog .title .close:hover {
    transform: rotate(180deg);
}

.tipsdialogbox .tipsdialog .title .close {
    font-size: 0.3rem;
    transition: 1s;
    cursor: pointer;
    font-weight: 300;
}

.tipsdialogbox .tipsdialog .connent {
    font-size: 0.16rem;
    color: #666666;
    line-height: 0.9rem;
    text-align: center;
}

.tipsdialogbox .tipsdialog .submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tipsdialogbox .tipsdialog .submit div:hover {
    box-shadow: 0.02rem 0.02rem 0.09rem #6d6d6d;
    margin-top: 0.1rem;
    color: rgb(255, 254, 205);
}

.tipsdialogbox .tipsdialog .submit div {
    transition: .6s;
    width: 0.4rem;
    height: 0.18rem;
    padding: 0.08rem 0.2rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.18rem;
    /* line-height: 0.36rem; */
    text-align: center;
    color: white;
    margin-top: 0.16rem;
    cursor: pointer;
}


/* 用户没登陆的时候弹窗 */
.tipsdialogbox1 {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    display: none;
}

.tipsdialogbox1 .tipsdialog1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 1.8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.06rem;
    box-shadow: -0.02rem -0.02rem 0.09rem #c3c3c3,
        0.02rem 0.02rem 0.09rem #c3c3c3;
    padding: 0.1rem;
}



.tipsdialogbox1 .tipsdialog1 .title1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.02rem solid #e6e6e6;
    font-size: 0.16rem;
    color: #666666;
    line-height: 0.3rem;
}

.tipsdialogbox1 .tipsdialog1 .title1 .close1:hover {
    transform: rotate(180deg);
}

.tipsdialogbox1 .tipsdialog1 .title1 .close1 {
    font-size: 0.3rem;
    transition: 1s;
    cursor: pointer;
    font-weight: 300;
}

.tipsdialogbox1 .tipsdialog1 .connent1 {
    font-size: 0.16rem;
    color: #666666;
    line-height: 0.9rem;
    text-align: center;
}

.tipsdialogbox1 .tipsdialog1 .submit1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tipsdialogbox1 .tipsdialog1 .submit1 div:hover {
    box-shadow: 0.02rem 0.02rem 0.09rem #6d6d6d;
    margin-top: 0.1rem;
    color: rgb(255, 254, 205);
}

.tipsdialogbox1 .tipsdialog1 .submit1 div {
    transition: .6s;
    width: 0.4rem;
    height: 0.18rem;
    padding: 0.08rem 0.2rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.18rem;
    /* line-height: 0.36rem; */
    text-align: center;
    color: white;
    margin-top: 0.16rem;
    cursor: pointer;
}


.tipsdialogbox1 .tipsdialog1 .submit1 div:nth-child(1) {
    margin-right: 0.2rem;
    background-image: linear-gradient(0deg,
            #ffffff 0%,
            #f5f5f5 100%);
    border: 0.01rem solid#ff403a;
    color: #ff403a;
    border-radius: 0.18rem;
}


.tipsdialogbox .tipsdialog .submit div:nth-child(1) {
    margin-right: 0.2rem;
    background-image: linear-gradient(0deg,
            #ffffff 0%,
            #f5f5f5 100%);
    border: 0.01rem solid#ff403a;
    color: #ff403a;
    border-radius: 0.18rem;
}



/* .tipsdialogbox {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    display: none;
}

.tipsdialogbox .tipsdialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 1.8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.06rem;
    box-shadow: -0.02rem -0.02rem 0.09rem #c3c3c3,
        0.02rem 0.02rem 0.09rem #c3c3c3;
    padding: 0.1rem;
} */


.tlk_tipsdialogbox {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    display: none;
    z-index: 33;
}

.tlk_tipsdialogbox .tlk_tipsdialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 1.8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.06rem;
    box-shadow: -0.02rem -0.02rem 0.09rem #c3c3c3,
        0.02rem 0.02rem 0.09rem #c3c3c3;
    padding: 0.1rem;
}

.tlk_tipsdialogbox .tlk_tipsdialog .tlk_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.02rem solid #e6e6e6;
    font-size: 0.16rem;
    color: #666666;
    line-height: 0.3rem;
}

.tlk_tipsdialogbox .tlk_tipsdialog .tlk_title .tlk_close:hover {
    transform: rotate(180deg);
}

.tlk_tipsdialogbox .tlk_tipsdialog .tk_title .tlk_close {
    font-size: 0.3rem;
    transition: 1s;
    cursor: pointer;
    font-weight: 300;
}

.tlk_tipsdialogbox .tlk_tipsdialog .tlk_connent {
    font-size: 0.16rem;
    color: #666666;
    line-height: 0.9rem;
    text-align: center;
}

.tlk_tipsdialogbox .tlk_tipsdialog .tlk_submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tlk_tipsdialogbox .tlk_tipsdialog .tlk_submit div:hover {
    box-shadow: 0.02rem 0.02rem 0.09rem #6d6d6d;
    margin-top: 0.1rem;
    color: rgb(255, 254, 205);
}

.tlk_tipsdialogbox .tlk_tipsdialog .tlk_submit div {
    transition: .6s;
    width: 0.4rem;
    height: 0.18rem;
    padding: 0.08rem 0.2rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.18rem;
    /* line-height: 0.36rem; */
    text-align: center;
    color: white;
    margin-top: 0.16rem;
    cursor: pointer;
}

.tlk_tipsdialogbox .tlk_tipsdialog .tlk_submit div:nth-child(1) {
    background-image: linear-gradient(0deg,
            #ffffff 0%,
            #f5f5f5 100%);
    border: 0.01rem solid#ff403a;
    color: #ff403a;
    border-radius: 0.18rem;
}

/*  */
.tlk_tipsdialogbox1 {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    display: none;
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.06rem;
    box-shadow: -0.02rem -0.02rem 0.09rem #c3c3c3,
        0.02rem 0.02rem 0.09rem #c3c3c3;
    padding: 0.1rem;
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .tlk_title1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.02rem solid #e6e6e6;
    font-size: 0.16rem;
    color: #666666;
    line-height: 0.3rem;
}

.tlk_close1 {
    cursor: pointer;
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .tlk_title1 .tlk_close1:hover {
    transform: rotate(180deg);
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .tlk_title1 .tlk_close1 {
    transition: 1s;
    font-size: 0.3rem;
    cursor: pointer;
    font-weight: 300;
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .connent {
    font-size: 0.16rem;
    color: #666666;
    text-align: center;
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .connent div {
    color: #666666;
    line-height: 0.6rem;
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .connent div input {
    border: none;
    background-color: rgb(240, 240, 240);
    height: 0.3rem;
    color: #666666;
    text-indent: 0.06rem;
    box-sizing: border-box;
    border: 0.01rem solid #fff;
    border-radius: 0.1rem;

}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .connent div input:focus {
    border: 0.01rem solid #faa491;
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .tlk_submit1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .tlk_submit1 div:hover {
    box-shadow: 0.02rem 0.02rem 0.09rem #6d6d6d;
    margin-top: 0.1rem;
    color: rgb(255, 254, 205);
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .tlk_submit1 div {
    transition: .6s;
    width: 0.4rem;
    height: 0.18rem;
    padding: 0.05rem 0.2rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.18rem;
    /* line-height: 0.36rem; */
    text-align: center;
    color: white;
    margin-top: 0.1rem;
    cursor: pointer;
}

.tlk_tipsdialogbox1 .tlk_tipsdialog1 .tlk_submit1 div:nth-child(1) {
    margin-right: 0.2rem;
    background-image: linear-gradient(0deg,
            #ffffff 0%,
            #f5f5f5 100%);
    border: 0.01rem solid#ff403a;
    color: #ff403a;
    border-radius: 0.18rem;
}