@media (min-width: 1024px){
    html{font-size: 91.11px;}
} /*>=1024的设备*/

@media (min-width: 1100px) {
    html{font-size: 102.181px}
} /*>=1100的设备*/
@media (min-width: 1280px) {
    hrml{font-size: 113.879px;}
} /*>=1280的设备*/

@media (min-width: 1366px) {
    html{font-size: 121.53px;}
}

@media (min-width: 1440px) {
    html{font-size: 128.113px;}
}

@media (min-width: 1680px) {
    html{font-size: 149.466px;}
}
@media (min-width: 1920px) {
    html{font-size: 170.818px;}
}