@media (min-width: 1024px){
    html{font-size: 53.333px;}
} /*>=1024的设备*/

@media (min-width: 1100px) {
    html{font-size: 57.333px}
} /*>=1100的设备*/
@media (min-width: 1280px) {
    hrml{font-size: 66.666px;}
} /*>=1280的设备*/

@media (min-width: 1366px) {
    html{font-size: 71.145px;}
}

@media (min-width: 1440px) {
    html{font-size: 75px;}
}

@media (min-width: 1680px) {
    html{font-size: 87.5px;}
}
@media (min-width: 1920px) {
    html{font-size: 100px;}
}