@import url("../clean.css");

del {
    color: #bfbfbf;
}

#topnav {
    height: 0.5rem;
    background-color: #ffffff;
}

#topnav .left li {
    float: left;
    line-height: 0.5rem;
}

#topnav .left .phone {
    width: 0.12rem;
    height: 0.18rem;
}

#topnav .right {
    line-height: 0.5rem;
}

#topnav .right li {
    float: left;
}

#topnav .right .tou {
    width: 16px;
    height: 16px;
    margin-right: 0.1rem;
}

.line {
    width: 0.01rem;
    height: 0.14rem;
    background-color: #e6e6e6;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.18rem;
}

.icon-shop {
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.1rem;
    margin-bottom: 0.05rem;
}

.lmw_bk {
    width: 19.2rem;
    height: 0.1rem;
    background-color: #f5f5f5;
}

.lmw_books {
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 0.3rem;
    height: 5.5rem;
}

.lmw_books img {
    width: 4.7rem;
    height: 3.1rem;
    float: left;
}

.lmw_books .lmw_yh {
    display: inline-block;
    width: 0.56rem;
    height: 0.3rem;
    background-color: #ff403a;
    color: white;
    font-size: 0.14rem;
    text-align: center;
    margin-right: 0.1rem;
}

.lmw_books .lmw_zbtop {
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.2rem;
    color: #333333;
    font-weight: bold;
}

.lmw_books .lmw_right {
    margin-left: 0.3rem;
    margin-top: 0.1rem;
}

.lmw_books .lmw_right .lmw_p2 {
    height: 0.16rem;
    font-family: MicrosoftYaHei;
    font-size: 0.14rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0rem;
    color: #666666;
    margin-top: 0.16rem;
}

.lmw_books .lmw_right .lmw_p3 {
    width: 9rem;
    height: 0.62rem;
    background-color: #f9f9f9;
    line-height: 0.62rem;
    margin-top: 0.15rem;
    box-sizing: border-box;
    padding-left: 0.2rem;
}

.lmw_books .lmw_right .lmw_p4 {
    height: 0.3rem;
    line-height: 0.3rem;
    margin-top: 0.2rem;
}

.lmw_books .lmw_right .lmw_price {
    font-size: 0.28rem;
    color: #ff403a;
}

.lmw_books .lmw_right .lmw_allvideo {
    width: 9rem;
    box-sizing: border-box;
    padding: 0.2rem;
    margin-bottom: 0.3rem;
}

.lmw_books .lmw_right .lmw_p4 {
    margin-bottom: 0.2rem;
}

.lmw_books .lmw_right .lmw_p4 span:first-child {
    margin-left: 0.13rem;
}

.lmw_books .lmw_right .lmw_choose {
    display: inline-block;
    padding: 0 0.14rem;
    height: 0.3rem;
    text-align: center;
    line-height: 0.3rem;
    color: #333;
    font-size: 0.14rem;
    margin-right: 0.14rem;
    cursor: pointer;
}

.lmw_books .lmw_right .lmw_p4 span:last-child {
    margin: 0;
}

.lmw_flxe {
    display: flex;
    justify-content: space-between;

}

.lmw_flxe .lmw_allkc {
    flex: 1;
}

.lmw_flxe .lmw_kcs {
    flex: 9;
}

.lmw_flxe .lmw_kcs li {
    margin-bottom: 0.14rem;
}

.lmw_ljgm_jrgwc {
    height: 0.46rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lmw_ljgm_jrgwc .lmw_ljgm:hover {

    background-image: linear-gradient(0deg,
            #fc635e 0%,
            #fd8469 100%);
}

.lmw_ljgm_jrgwc .lmw_ljgm {
    translate: 0.6s;
    cursor: pointer;
    display: inline-block;
    width: 1.46rem;
    height: 0.46rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    text-align: center;
    line-height: 0.46rem;
    color: #fffefe;
    font-size: 0.18rem;
    margin-right: 0.4rem;
}

.lmw_ljgm_jrgwc .lmw_jrgwc:hover {
    background-color:  rgb(234 ,234 ,234,.5);


}

.lmw_ljgm_jrgwc .lmw_jrgwc {
    translate: 0.6s;
    cursor: pointer;
    display: flex;
    width: 1.64rem;
    height: 0.46rem;
    justify-content: center;
    align-items: center;
    background-color: #fffafa;
    box-sizing: border-box;
    border: solid 0.01rem #ff403a;
    color: #ff403a;
}

.lmw_ljgm_jrgwc .lmw_jrgwc img {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 0.09rem;
}

.lmw_mfst:hover {
    background-color: #549ca0;
}

.lmw_mfst {
    translate: 0.6s;

    cursor: pointer;
    width: 1.64rem;
    height: 0.46rem;
    background-color: #24959a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fffefe;
}

.lmw_mfst img {
    width: 0.22rem;
    height: 0.18rem;
    margin-right: 0.1rem;
}

.lmw_boderbottom {
    border-bottom: 0.01rem solid #f5f5f5;
}

.lmw_kcxq_pj {
    height: 0.6rem;
    line-height: 0.6rem;
}

.lmw_kcxq_pj span {
    padding-bottom: 0.05rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.lmw_tjpl {
    display: block;
    width: 13.5rem;
    height: 1.5rem;
    outline: none;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 0.04rem;
    border: solid 0.01rem #e5e5e5;
    resize: none;
    box-sizing: border-box;
    padding: 0.11rem;
    margin-top: 0.4rem;
}

.lmw_fbpl {
    border: none;
    width: 1.58rem;
    height: 0.56rem;
    background-image: linear-gradient(0deg,
            #ff403a 0%,
            #ff6949 100%);
    border-radius: 0.04rem;
    outline: none;
    color: white;
    line-height: 0.56rem;
    text-align: center;
    margin-right: 0.45rem;
    margin-top: 0.15rem;
    margin-bottom: 0.3rem;
}

.lmw_1126 {
    width: 14rem;
    height: 0.01rem;
    background-color: #e6e6e6;
    margin: 0 auto;
}

.lmw_allpl li {
    margin-top: 0.3rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.01rem solid #f5f5f5;
}

.lmw_allpl li img {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

.lmw_allpl .lmw_namenr {
    width: 13.3rem;
    margin-top: 0.08rem;
    margin-left: 0.2rem;
    font-size: 0.16rem;
}

.lmw_allpl .lmw_time {
    width: 13.2rem;
}

.lmw_allpl .lmw_username {
    font-size: 0.16rem;
    color: #999999;
    margin-bottom: 0.15rem;
}

.tlk_html_content {
    padding-left: 0.7rem;
    width: 11rem;
    margin: 0 auto;
}

.tlk_big_Img_box {
    position: relative;
}

.tlk_logo {
    position: absolute;
    width: 2.2rem;
    height: 1.1rem;
    margin-left: 1rem;
    text-align: center;
    background-image: url('http://s1.s.360xkw.com/class/images/detail_logo_bottom.png');
    background-size: 2.2rem 1.1rem;
    opacity: .4; 
}
.dialog-footer .el-button--primary{
	border-color: white;
    background-image: linear-gradient(0deg, #ff403a 0%, #ff6949 100%);
}
.dialog-footer .el-button--primary:hover {
    border-color: white;
    background-image: linear-gradient(0deg, #ff403a 0%, #ff6949 100%);
}
.tlk_font_jiao {
    font-size: 0.16rem;
    text-align: center;
}