@import url("../clean.css");
::-webkit-scrollbar {
	width: 0px;
}
.lmw_top{
	height: 1.2rem;
	background-color: #ffffff;
	font-size: 0.14rem;
	border-radius: 0.06rem !important;
}

.lmw_top1{
	height: 0.6rem;
	box-shadow: 0rem 0.02rem 0.3rem 0rem 
		rgba(0, 0, 0, 0.04);
	padding-left: 0.3rem;
	box-sizing: border-box;
	
}

.lmw_top .lmw_mystudy{
	padding-top: 0.2rem;
	padding-bottom: 0.1rem;
}

.lmw_top .lmw_fontline{
	width: 0.74rem;
	height: 0.03rem;
	background-color: #ff403a;
	border-radius: 0.015rem;
}

.lmw_top2{
	height: 0.6rem;
	padding-left: 0.3rem;
	box-sizing: border-box;
	border-radius: 0 0 0.06rem 0.06rem;
}

.lmw_top2 .lmw_active{
	float: left;
	line-height: 0.6rem;
	cursor: pointer;
	margin-right: 0.54rem;
}

.lmw_neirong{
	margin-top: 0.1rem;
	border-radius: 0.06rem;
}

.lmw_show{
}

.lmw_neirong .lmw_nr1{
	background: url(../../img/bg3.png);
	background-size: 11.4rem 1.72rem;
	background-color: #fff;
}

.lmw_neirong .lmw_show .lmw_nr1{
	height: 1.9rem;
	box-sizing: border-box;
	padding-top: 0.2rem;
	padding-left: 0.3rem;
	border-radius: 0.06rem 0.06rem 0 0;
}

.lmw_neirong .lmw_show .lmw_nr1 .lmw_topright{
	display: flex;
	align-items: center;
	margin-left: 0.2rem;
	max-width: 4.5rem;
	min-width: 4.5rem;
}
.lmw_imgandtext{
	display: flex;
	align-items: center;
	justify-content: center;
}
.lmw_neirong .lmw_show .lmw_nr1 .lmw_topul{
	display: flex;
	justify-content: space-between;
	width: 2rem;
	margin-left: 1rem;
}
.lmw_neirong .lmw_show .lmw_nr1 .lmw_topul li img{
	width: 0.48rem;
	height: 0.48rem;
}

.lmw_neirong .lmw_show .lmw_nr1 .lmw_topul li{
	float: left;
	text-align: center;
	font-size: 0.14rem;
}

.lmw_bigdiv{
	width: 10rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* .lmw_topul .lmw_wdbj{
	margin-left: 0.95rem;
}

.lmw_topul .lmw_jczx{
	margin-left: 1.66rem;
}

.lmw_topul .lmw_zbkt{
	margin-left: 1.66rem;
}

.lmw_topul .lmw_wxq{
	margin-left: 1.66rem;
} */
.lmw_topul .lmw_wxq{
	margin-left: 0.5rem;
}
.lmw_img1{
	width: 1.4rem;
	height: 1.32rem;
}

.lmw_neirong .lmw_nr2{
	padding-bottom: 0.3rem;
	background-color: #fff;
	margin: 0;
	border-radius: 0rem 0rem 0.06rem 0.06rem;
}

.lmw_neirong .lmw_nr2 .lmw_outsideul{
	width: 10.48rem;
	margin: 0 auto;
	background-color: #fcfcfc;
	border-radius: 0.06rem;
	position: relative;
	top: 0.1rem;
}
.coursesname{
	width: 3rem;
}
.lmw_neirong .lmw_nr2 .lmw_outsideul li{
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	line-height: 0.56rem;
	height: 0.56rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.lmw_neirong .lmw_nr2 .lmw_outsideul .lmw_study{
	font-size: 0.14rem;
	margin-left: 2.19rem;
}

.lmw_neirong .lmw_nr2 .lmw_outsideul .lmw_line{
	display: inline-block;
	width: 0.01rem;
	height: 0.34rem;
	background-color: #e6e6e6;
	border-radius: 0rem 0rem 0.005rem 0.005rem;
	position: relative;
	top: 0.11rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}

.lmw_neirong .lmw_nr2 .lmw_outsideul .lmw_jdt{
	display: block;
	width: 0.88rem;
	
	background-color: #ffe6e5;
	border-radius: 0.05rem;
	top: 0.23rem;
}
.lmw_neirong .layui-progress-bar{
	background-color: #ff403a !important;
	display: inline-block;
}
.lmw_neirong .lmw_nr2 .lmw_outsideul .lmw_num{
	font-size: 0.14rem;
	color: #333;
	margin-left: 0.2rem;
}
.lmw_neirong .lmw_nr2 .lmw_outsideul .lmw_starstudy{
	width: 1.3rem;
	height: 0.36rem;
	display: inline-block;
	background-color: #fffafa;
	border-radius: 0.18rem;
	border: solid 0.01rem #ff403a;
	text-align: center;
	line-height: 0.36rem;
	color: #ff403a;
	font-size: 0.14rem;
}

.lmw_neirong .lmw_nr2 .lmw_outsideul .lmw_starstudy img{
	width: 0.18rem;
	height: 0.18rem;
}

.lmw_neirong .lmw_nr2 .lmw_outsideul .lmw_buy{
	width: 1.3rem;
	height: 0.36rem;
	display: inline-block;
	margin-left: 2.2rem;
	margin-top: 0.1rem;
	text-align: center;
	line-height: 0.36rem;
	font-size: 0.14rem;
	background-color: #fcfcfc;
	border-radius: 0.18rem;
	border: solid 0.01rem #333333;
	color: #333;
}

.lmw_neirong .lmw_nr2 .lmw_outsideul .lmw_buy img{
	width: 0.18rem;
	height: 0.18rem;
	position: relative;
	bottom: 0.02rem;
}

.lmw_show .lmw_upandown{
  margin-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lmw_show .lmw_upandown img{
  width: 0.44rem;
  height: 0.2rem;
  cursor: pointer;
}
