@import url("../clean.css");

.tlk_top{
	height: 0.5rem;
	background-color: #ffffff;
	border-radius: 0.06rem;
	line-height: 0.5rem;
	padding-left: 0.3rem;
	font-size: 0.14rem;
}
.tlk_tab{
	margin-top: 0.1rem;
	height: 0.5rem;
	background-color: #ffffff;
	border-radius: 0.06rem;
	line-height: 0.5rem;
	padding-left: 0.3rem;
	font-size: 0.14rem;
	color: #ff403a;
}
.tlk_tab li{
	float: left;
}
.tlk_tab-item{
	padding: 0 0.3rem;
	margin-top: 0.2rem;
	background-color: #ffffff;
	border-radius: 0.06rem;
}
.tlk_times{
	height: 0.55rem;
}
.tlk_years{
	margin-left: 0.08rem;
	line-height: 0.55rem;
}
.tlk_line_box{
	padding-top: 0.25rem;
}
.tlk_yuan_box{
	padding-top: 0.21rem;
}
.tlk_line{
	width: 10rem;
	height: 0.01rem;
	background-color: #f5f5f5;
}
.tlk_yuan{
	width: 0.08rem;
	  height: 0.08rem;
	  border-radius: 50%;
	  border: 0.01rem solid #666666;
}
.tlk_ke{
	height: 1.53rem;
	border-bottom: 0.01rem solid  #f5f5f5;
}
.tlk_ke .tl_titleImg{
	width: 1.4rem;
	height: 1.32rem;
}
.tlk_rightbox{
	position: relative;
	height: 100%;
	width: 80%;
}
.tlk_right_font{
	height: 0.3rem;
	font-family: MicrosoftYaHei;
	font-size: 0.18rem;
	font-weight: normal;
	font-stretch: normal;
	color: #333333;
}
.tlk_right_font p{
	font-family: MicrosoftYaHei;
	font-size: 0.16rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	 color: #999;
}
.tlk_delete_img{
	cursor: pointer;
	margin-right: 0.3rem;
}
.tlk_teacher{
	margin-top: 0.49rem;
	margin-bottom: 0.15rem;
	color: #666;
}
.tlk_beijinTime{
	    color: #999;
}
.tlk_xue_box{
	position: absolute;
	right: 0.23rem;
	bottom: 0.3rem;
}
.tlk_yixue{
	text-align: center;
	font-family: MicrosoftYaHei;
	font-size: 0.16rem;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ff403a;
}
.tlk_continue{
	cursor: pointer;
	margin-top: 0.08rem;
	color: #ff403a;
	line-height: 0.36rem;
	text-align: center;
	width: 1.22rem;
	height: 0.36rem;
	border-radius: 0.18rem;
	border: solid 0.01rem #ff403a;
}